<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.AgentMainMapper">

    <resultMap id="AgentMainVO" type="com.lgyun.system.user.vo.admin.AdminAgentMainVO">
        <id column="id" property="agentMainId"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="contact1_name" property="contact1Name"/>
        <result column="contact1_phone" property="contact1Phone"/>
        <result column="franchise_contract" property="franchiseContract"/>
        <result column="channel_commitment_letter" property="channelCommitmentLetter"/>
        <result column="status" property="agentState" javaType="com.lgyun.common.enumeration.AccountState"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.admin.AdminAgentMainServiceProviderListVO" id="adminAgentMainServiceProviderListVO">
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="amount" column="amount"/>
        <result property="cooperateStatus" column="cooperate_status"/>
        <result property="startDatetime" column="start_datetime"/>
    </resultMap>

    <select id="getAgentMainList" resultMap="AgentMainVO">
                SELECT
            am.id,
            am.enterprise_name,
            am.contact1_name,
            am.contact1_phone,
            (
                SELECT

                IF (
                    a.sign_type = 'PLATFORMAGREEMENT',
                    a.online_aggrement_url,
                    a.paper_agreement_url
                )
                FROM
                    diyi_agreement AS a
                WHERE
                    a.agent_id = am.id
                AND a.agreement_type = 'AGENTJOINAGREEMENT'
            ) AS franchise_contract,
            (
                SELECT

                IF (
                    a.sign_type = 'ELEUNILATERALPOWER',
                    a.online_aggrement_url,
                    a.paper_agreement_url
                )
                FROM
                    diyi_agreement AS a
                WHERE
                    a.agent_id = am.id
                AND a.agreement_type = 'OTHERAGREEMENT'
            ) AS channel_commitment_letter,
            am.agent_state,
            am.create_time
        FROM
            diyi_agent_main AS am
                WHERE
                am.is_deleted=0
                <if test="param1.agentMainId != null and param1.agentMainId != ''">
                    and am.id = #{param1.agentMainId}
                </if>
                <if test="param1.enterpriseName != null and param1.enterpriseName.trim() != ''">
                    AND am.enterprise_name LIKE concat('%', #{param1.enterpriseName}, '%')
                </if>
                <if test="param1.beginDate != null">
                    AND DATEDIFF(am.create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
                </if>
                <if test="param1.endDate != null">
                    AND DATEDIFF(am.create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
                </if>
    </select>



    <select id="getAgentMainServiceProviderList" resultMap="adminAgentMainServiceProviderListVO">

    </select>
    <select id="queryAgentMainServiceProvider"
            resultType="com.lgyun.system.user.vo.admin.AgentMainServiceProviderVO">
        SELECT id,service_provider_name FROM diyi_service_provider
        WHERE id NOT IN
        (SELECT service_provider_id FROM diyi_agent_provider)
        AND service_provider_state = 'NORMAL' AND is_deleted=0
        <if test="serviceProviderName != null and serviceProviderName != ''">
            AND service_provider_name LIKE CONCTA('%',#{param1},'%')
        </if>
    </select>
</mapper>
