<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.AgentMainMapper">

    <resultMap type="com.lgyun.system.user.vo.AgentMainListAdminVO" id="agentMainListAdminVO">
        <result property="id" column="id"/>
        <result property="agentMainName" column="agent_main_name"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="joinContract" column="join_contract"/>
        <result property="agentMainState" column="agent_main_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.AgentMainUpdateDetailVO" id="agentMainUpdateDetailVO">
        <result property="id" column="id"/>
        <result property="agentMainName" column="agent_main_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdcard" column="legal_person_idcard"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="enterpriseUrl" column="enterprise_url"/>
        <result property="joinContract" column="join_contract"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddressPhone" column="invoice_address_phone"/>
        <result property="invoiceBankNameAccount" column="invoice_bank_name_account"/>
        <result property="employeeUserName" column="employee_user_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="workerName" column="worker_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.AgentMainInfoVO" id="agentMainInfoVO">
        <result property="id" column="id"/>
        <result property="agentMainName" column="agent_main_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdcard" column="legal_person_idcard"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="enterpriseUrl" column="enterprise_url"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ContactInfoVO" id="contactInfoVO">
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.InvoiceVO" id="invoiceVO">
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddressPhone" column="invoice_address_phone"/>
        <result property="invoiceBankNameAccount" column="invoice_bank_name_account"/>
    </resultMap>

    <select id="getAgentMainListAdmin" resultMap="agentMainListAdminVO">
        SELECT t1.id, t1.agent_main_name, t1.contact1_name, t1.contact1_phone, t1.agent_main_state, t1.create_time, (SELECT GROUP_CONCAT(agreement_url) FROM diyi_agreement
        WHERE bool_deleted = 0 AND agreement_type = 'AGENTMAINJOINAGREEMENT' AND valid_state = 'VALIDING' AND party_b = 'AGENTMAINPEOPLE' AND party_b_id = t1.id)
        AS join_contract FROM diyi_agent_main t1 WHERE t1.bool_deleted = 0
        <if test="param1.agentMainName != null and param1.agentMainName.trim() != ''">
            AND t1.agent_main_name LIKE concat('%', #{param1.agentMainName}, '%')
        </if>
        <if test="param1.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param1.endDate != null">
            AND DATEDIFF(t1.create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryAgentMainUpdateDetail" resultMap="agentMainUpdateDetailVO">
        SELECT t1.id, t1.agent_main_name, t1.legal_person_name, t1.legal_person_idcard, t1.social_credit_no, t1.biz_licence_url, t1.enterprise_url,
        t1.contact1_name, t1.contact1_position, t1.contact1_phone, t1.contact1_mail, t1.contact2_name, t1.contact2_position, t1.contact2_phone,
        t1.contact2_mail, t1.invoice_enterprise_name, t1.invoice_tax_no, t1.invoice_address_phone, t1.invoice_bank_name_account, t2.employee_user_name, t2.phone_number,
        t2.worker_name, (SELECT GROUP_CONCAT(agreement_url) FROM diyi_agreement WHERE bool_deleted = 0 AND agreement_type = 'AGENTMAINJOINAGREEMENT' AND valid_state = 'VALIDING'
        AND party_b = 'AGENTMAINPEOPLE' AND party_b_id = t1.id) AS join_contract FROM diyi_agent_main t1 INNER JOIN diyi_agent_main_worker t2 ON t1.id = t2.agent_main_id
        WHERE t1.bool_deleted = 0 AND t2.bool_deleted = 0 AND t2.up_level_id IS NULL AND t1.id = #{param1} LIMIT 1
    </select>

    <select id="queryEnterpriseInfo" resultMap="agentMainInfoVO">
        SELECT id, agent_main_name, legal_person_name, legal_person_idcard, social_credit_no, biz_licence_url, enterprise_url
        FROM diyi_agent_main WHERE bool_deleted = 0 AND id = #{param1} LIMIT 1
    </select>

    <select id="queryContact" resultMap="contactInfoVO">
        SELECT contact1_name, contact1_position, contact1_phone, contact1_mail, contact2_name, contact2_position, contact2_phone, contact2_mail
        FROM diyi_agent_main WHERE bool_deleted = 0 AND id = #{param1} LIMIT 1
    </select>

    <select id="queryeInvoice" resultMap="invoiceVO">
        SELECT invoice_enterprise_name, invoice_tax_no, invoice_address_phone, invoice_bank_name_account FROM diyi_agent_main WHERE bool_deleted = 0
        AND id = #{param1} LIMIT 1
    </select>

</mapper>
