<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.AgreementMapper">

    <resultMap type="com.lgyun.system.user.vo.AgreementWebVO" id="agreementWebVOMap">
        <result property="enterpriseProviderId" column="enterprise_provider_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="agreementId" column="agreement_id"/>
        <result property="agreementNo" column="agreement_no"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="firstSideSignPerson" column="first_side_sign_person"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="signState" column="sign_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="AgreementMakerWebVOMap" type="com.lgyun.system.user.vo.AgreementMakerWebVO">
        <result property="makerEnterpriseId" column="maker_enterprise_id"/>
        <result property="makerId" column="maker_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="bankCardVerifyStatus" column="bank_card_verify_status"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="signState" column="sign_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="EnterpriseMakerAgreementVOMap" type="com.lgyun.system.user.vo.EnterpriseMakerAgreementVO">
        <result property="agreementId" column="agreement_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="agreementNo" column="agreement_no"/>
        <result property="name" column="name"/>
        <result property="signType" column="sign_type"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
        <result property="signState" column="sign_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="agreementServiceVOMap" type="com.lgyun.system.user.vo.AgreementServiceVO">
        <result property="agreementId" column="agreement_id"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="agreementNo" column="agreement_no"/>
        <result property="signType" column="sign_type"/>
        <result property="agreementType" column="agreement_type"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="makerName" column="maker_name"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
        <result property="signState" column="sign_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="agreementMakerEnterAdminMap" type="com.lgyun.system.user.vo.AgreementMakerEnterAdminVO">
        <result property="agreementId" column="agreement_id"/>
        <result property="makerId" column="maker_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="agreementNo" column="agreement_no"/>
        <result property="makerName" column="maker_name"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="agreementEnterServiceAdminMap" type="com.lgyun.system.user.vo.AgreementEnterServiceAdminVO">
        <result property="agreementId" column="agreement_id"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="agreementNo" column="agreement_no"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="agreementMakerStateAdminVOMap" type="com.lgyun.system.user.vo.AgreementMakerStateAdminVO">
        <result property="makerId" column="maker_id"/>
        <result property="certificationState" column="certification_state"/>
        <result property="name" column="name"/>
        <result property="videoAudit" column="video_audit"/>
        <result property="makerJoinAgreement" column="maker_join_agreement"/>
        <result property="entMakSupplementaryAgreement" column="ent_mak_supplementary_agreement"/>
        <result property="makerPowerAttorney" column="maker_power_attorney"/>
    </resultMap>

    <resultMap id="agreementEnterpriseStateAdminVOMap" type="com.lgyun.system.user.vo.AgreementEnterpriseStateAdminVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="enterpriseJoinAgreement" column="enterprise_join_agreement"/>
        <result property="enterprisePriceAgreement" column="enterprise_price_agreement"/>
        <result property="entMakSupplementaryAgreement" column="ent_mak_supplementary_agreement"/>
        <result property="serEntSupplementaryAgreement" column="ser_ent_supplementary_agreement"/>
        <result property="enterprisePromise" column="enterprise_promise"/>
    </resultMap>

    <select id="selectServiceAgreement" resultMap="agreementWebVOMap">
        SELECT ep.id AS enterprise_provider_id, ep.enterprise_id, ep.service_provider_id, a.id AS agreement_id, a.agreement_no,a.paper_agreement_url,
        sp.service_provider_name, a.first_side_sign_person, a.online_agreement_url, a.sign_state, a.create_time FROM diyi_enterprise_service_provider ep INNER JOIN
        diyi_service_provider sp ON sp.id = ep.service_provider_id INNER JOIN diyi_agreement a ON sp.id = a.service_provider_id WHERE
        sp.is_deleted = 0 AND a.is_deleted = 0 AND ep.is_deleted = 0  and ep.enterprise_id =#{param1}
        <if test="param2 != null and param2 != ''">
            and sp.service_provider_name like concat('%', #{param2}, '%')
        </if>
        <if test="param3 != null and param3 != ''">
            and a.agreement_no like concat('%', #{param3}, '%')
        </if>
        and a.sign_type=#{param4} AND a.agreement_type =#{param5}
    </select>

    <select id="selectServiceSupplementaryAgreement" resultMap="agreementWebVOMap">
        SELECT ep.id AS enterprise_provider_id, ep.enterprise_id, ep.service_provider_id, a.id AS agreement_id, a.agreement_no,a.paper_agreement_url,
        sp.service_provider_name, a.first_side_sign_person, a.online_agreement_url, a.sign_state, a.create_time FROM diyi_enterprise_service_provider ep
        INNER JOIN diyi_service_provider sp ON sp.id = ep.service_provider_id INNER JOIN diyi_agreement a ON sp.id = a.service_provider_id WHERE
        sp.is_deleted = 0 AND a.is_deleted = 0 AND ep.is_deleted = 0  and ep.enterprise_id =#{param1}
        <if test="param2 != null and param2 != ''">
            and sp.service_provider_name like concat('%', #{param2}, '%')
        </if>
        <if test="param3 != null and param3 != ''">
            and a.agreement_no like concat('%', #{param3}, '%')
        </if>
        and a.sign_type in ('PLATFORMAGREEMENT','PAPERAGREEMENT') AND a.agreement_type =#{param4}
    </select>

    <select id="selectMakerAgreement" resultMap="AgreementMakerWebVOMap">
        SELECT em.id AS maker_enterprise_id, m.id AS maker_id, e.id AS enterprise_id, m.phone_number, m. NAME, m.idcard_no, a.paper_agreement_url, m.bank_card_no,
        m.bank_card_verify_status, a.online_agreement_url, a.sign_state, a.create_time FROM diyi_maker_enterprise em INNER JOIN diyi_maker m ON em.maker_id = m.id
        INNER JOIN diyi_enterprise e ON e.id = em.enterprise_id INNER JOIN diyi_agreement a ON a.maker_id = m.id WHERE em.enterprise_id =#{param1} AND em.is_deleted = 0
        AND m.is_deleted = 0 AND e.is_deleted = 0 AND a.is_deleted = 0 AND agreement_type = 'MAKERJOINAGREEMENT'
    </select>

    <select id="selectEnterpriseMakerAgreement" resultMap="EnterpriseMakerAgreementVOMap">
        SELECT a.id AS agreement_id, e.enterprise_name, e.id AS enterprise_id, a.agreement_no, m. NAME, a.sign_type, a.paper_agreement_url, a.online_agreement_url,
        a.sign_state, a.create_time FROM diyi_agreement a INNER JOIN diyi_enterprise e ON a.enterprise_id = e.id LEFT JOIN diyi_maker m ON m.id = a.maker_id
        AND m.is_deleted = 0 WHERE a.is_deleted = 0 AND e.is_deleted = 0 AND a.agreement_type = 'ENTMAKSUPPLEMENTARYAGREEMENT' AND a.enterprise_id = #{param1}
    </select>


    <select id="findSeriveAgreement" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id, s.id AS service_provider_id, a.agreement_no, a.sign_type, a.agreement_type, s.service_provider_name, a.online_agreement_url,
        a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_service_provider s ON a.service_provider_id = s.id
        WHERE a.agreement_type = 'SERVICEPROVIDERJOINAGREEMENT'
       <if test="param1 != null and param1 !=''">
           and a.agreement_no like concat('%', #{param1}, '%')
       </if>
        and s.id = #{param2}
    </select>

    <select id="findMakerAgreement" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id,m.name as maker_name, s.id AS service_provider_id, a.agreement_no, a.sign_type, a.agreement_type,
        s.service_provider_name, a.online_agreement_url, a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_maker m
        ON a.maker_id = m.id INNER JOIN diyi_service_provider_maker pa ON pa.maker_id = m.id INNER JOIN diyi_service_provider s ON pa.service_provider_id = s.id
        WHERE a.agreement_type = 'SERVICEPROVIDERJOINAGREEMENT'
        <if test="param1 != null and param1 !=''">
            and a.agreement_no like concat('%', #{param1}, '%')
        </if>
        <if test="param3 != null and param3 !=''">
            and m.name like concat('%', #{param3}, '%')
        </if>
        AND pa.service_provider_id = #{param2}
    </select>

    <select id="findEnterpriseAgreement" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id, s.id AS service_provider_id,e.enterprise_name, a.agreement_no, a.sign_type, a.agreement_type, s.service_provider_name,
        a.online_agreement_url, a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_enterprise e
        ON a.enterprise_id = e.id INNER JOIN diyi_enterprise_service_provider ep ON ep.enterprise_id = e.id INNER JOIN diyi_service_provider s
        ON ep.service_provider_id = s.id WHERE a.agreement_type = 'SERVICEPROVIDERJOINAGREEMENT'
        <if test="param1 != null and param1 !=''">
            and a.agreement_no like concat('%', #{param1}, '%')
        </if>
        <if test="param3 != null and param3 !=''">
            and e.enterprise_name like concat('%', #{param3}, '%')
        </if>
        AND s.service_provider_id = #{param2}
    </select>

    <select id="findEnterpriseSupplement" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id, s.id AS service_provider_id,e.enterprise_name, a.agreement_no, a.sign_type, a.agreement_type, s.service_provider_name,
        a.online_agreement_url, a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_enterprise e
        ON a.enterprise_id = e.id INNER JOIN diyi_enterprise_service_provider ep ON ep.enterprise_id = e.id INNER JOIN diyi_service_provider s
        ON ep.service_provider_id = s.id WHERE a.agreement_type = 'SERENTSUPPLEMENTARYAGREEMENT'
        <if test="param1 != null and param1 !=''">
            and a.agreement_no like concat('%', #{param1}, '%')
        </if>
        <if test="param3 != null and param3 !=''">
            and e.enterprise_name like concat('%', #{param3}, '%')
        </if>
        AND s.service_provider_id = #{param2}
    </select>


    <select id="findEnterprisePromise" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id, s.id AS service_provider_id,e.enterprise_name, a.agreement_no, a.sign_type, a.agreement_type, s.service_provider_name,
        a.online_agreement_url, a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_enterprise e
        ON a.enterprise_id = e.id INNER JOIN diyi_enterprise_service_provider ep ON ep.enterprise_id = e.id INNER JOIN diyi_service_provider s
        ON ep.service_provider_id = s.id WHERE a.agreement_type = 'ENTERPRISEPROMISE'
        <if test="param1 != null and param1 !=''">
            and a.agreement_no like concat('%', #{param1}, '%')
        </if>
        <if test="param3 != null and param3 !=''">
            and e.enterprise_name like concat('%', #{param3}, '%')
        </if>
        AND s.service_provider_id = #{param2}
    </select>

    <select id="findAdMaEnterAgreement" resultMap="agreementMakerEnterAdminMap">
        SELECT a.id AS agreement_id,a.agreement_no, me.maker_id, me.enterprise_id, m. NAME AS maker_name, e.enterprise_name, a.online_agreement_url,
        a.paper_agreement_url, a.create_time FROM diyi_agreement a INNER JOIN diyi_maker_enterprise me ON me.enterprise_id = a.enterprise_id
        INNER JOIN diyi_maker m ON m.id = me.maker_id INNER JOIN diyi_enterprise e ON e.id = me.enterprise_id WHERE m.id = #{param1}
        AND a.agreement_type = 'ENTMAKSUPPLEMENTARYAGREEMENT' and a.sign_state = 'SIGNED'
        <if test="param2 != null and param2 !=''">
             and e.enterprise_name like concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="findEnterIdServiceAgreement" resultMap="agreementEnterServiceAdminMap">
        SELECT a.id AS agreement_id, a.agreement_no, ep.service_provider_id, ep.enterprise_id, sp.service_provider_name, e.enterprise_name,
        a.online_agreement_url, a.paper_agreement_url, a.create_time FROM diyi_agreement a INNER JOIN diyi_enterprise_provider ep
        ON ep.service_provider_id = a.service_provider_id INNER JOIN diyi_service_provider sp ON sp.id = ep.service_provider_id INNER JOIN diyi_enterprise e
        ON e.id = ep.enterprise_id WHERE e.id = #{param1} AND a.agreement_type = 'SERVICEPROVIDERJOINAGREEMENT' and a.sign_state = 'SIGNED'
    </select>

    <select id="queryMakerAgreementState" resultMap="agreementMakerStateAdminVOMap">
        SELECT m.id maker_id, m.certification_state, m.name, m.video_audit, ( SELECT IF (COUNT(*) > 0, 1, 0) FROM diyi_agreement a WHERE a.maker_id = m.id AND a.agreement_type = 'MAKERJOINAGREEMENT' ) AS maker_join_agreement, ( SELECT COUNT(*) FROM diyi_agreement a WHERE a.maker_id = m.id AND a.agreement_type = 'ENTMAKSUPPLEMENTARYAGREEMENT' ) AS ent_mak_supplementary_agreement, ( SELECT IF (COUNT(*) > 0, 1, 0) FROM diyi_agreement a WHERE a.maker_id = m.id AND a.agreement_type = 'MAKERPOWERATTORNEY' ) AS maker_power_attorney FROM diyi_maker m
        where 1=1
        <if test="param1 != null and param1 !=''">
            and m.name like concat('%', #{param1}, '%')
        </if>
    </select>

    <select id="queryMakerIdSupplement" resultMap="agreementMakerEnterAdminMap">
        SELECT a.id AS agreement_id,a.agreement_no, me.maker_id, me.enterprise_id, m. NAME AS maker_name, e.enterprise_name, a.online_agreement_url,
                a.paper_agreement_url, a.create_time FROM diyi_agreement a INNER JOIN diyi_maker_enterprise me ON me.enterprise_id = a.enterprise_id
                INNER JOIN diyi_maker m ON m.id = me.maker_id INNER JOIN diyi_enterprise e ON e.id = me.enterprise_id
                WHERE a.agreement_type = 'ENTMAKSUPPLEMENTARYAGREEMENT' and a.sign_state = 'SIGNED'
                <if test="param1 != null">
                    and m.id = #{param1}
                </if>
                <if test="param2 != null">
                    and me.enterprise_id = #{param2}
                </if>
    </select>

    <select id="queryEnterpriseAgreementState" resultMap="agreementEnterpriseStateAdminVOMap">
        SELECT e.id AS enterprise_id, e.enterprise_name, ( SELECT IF (count(*) > 0, 1, 0) FROM diyi_agreement a WHERE a.enterprise_id = e.id AND a.agreement_type = 'ENTERPRISEJOINAGREEMENT' ) AS enterprise_join_agreement, ( SELECT IF (count(*) > 0, 1, 0) FROM diyi_agreement a WHERE a.enterprise_id = e.id AND a.agreement_type = 'ENTERPRISEPRICEAGREEMENT' ) AS enterprise_price_agreement, ( SELECT count(*) FROM diyi_agreement a WHERE a.enterprise_id = e.id AND a.agreement_type = 'ENTMAKSUPPLEMENTARYAGREEMENT' ) AS ent_mak_supplementary_agreement, ( SELECT count(*) FROM diyi_agreement a WHERE a.enterprise_id = e.id AND a.agreement_type = 'SERENTSUPPLEMENTARYAGREEMENT' ) AS ser_ent_supplementary_agreement, ( SELECT IF (count(*) > 0, 1, 0) FROM diyi_agreement a WHERE a.enterprise_id = e.id AND a.agreement_type = 'ENTERPRISEPROMISE' ) AS enterprise_promise FROM diyi_enterprise e
        where 1=1
        <if test="param1 != null and param1 !=''">
            and e.enterprise_name like concat('%', #{param1}, '%')
        </if>
    </select>

    <select id="queryEnterIdServiceSupplement" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id, s.id AS service_provider_id,e.enterprise_name, a.agreement_no, a.sign_type, a.agreement_type, s.service_provider_name,
        a.online_agreement_url, a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_enterprise e
        ON a.enterprise_id = e.id INNER JOIN diyi_enterprise_service_provider ep ON ep.enterprise_id = e.id INNER JOIN diyi_service_provider s
        ON ep.service_provider_id = s.id WHERE a.agreement_type = 'SERENTSUPPLEMENTARYAGREEMENT'
        <if test="param1 != null">
            AND e.id = #{param1}
        </if>
        <if test="param2 != null">
            AND s.id = #{param2}
        </if>
    </select>

    <select id="queryEnterIdPromise" resultMap="agreementServiceVOMap">
        SELECT a.id AS agreement_id, s.id AS service_provider_id,e.enterprise_name, a.agreement_no, a.sign_type, a.agreement_type, s.service_provider_name,
        a.online_agreement_url, a.paper_agreement_url, a.create_time, a.sign_state FROM diyi_agreement a INNER JOIN diyi_enterprise e
        ON a.enterprise_id = e.id INNER JOIN diyi_enterprise_service_provider ep ON ep.enterprise_id = e.id INNER JOIN diyi_service_provider s
        ON ep.service_provider_id = s.id WHERE a.agreement_type = 'ENTERPRISEPROMISE'
        AND s.service_provider_id = #{param1}
    </select>
</mapper>
