<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.AgreementMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.user.entity.AgreementEntity" id="agreementMap">
        <result property="id" column="id"/>
        <result property="agreementType" column="agreement_type"/>
        <result property="signType" column="sign_type"/>
        <result property="signDate" column="sign_date"/>
        <result property="agreementNo" column="agreement_no"/>
        <result property="sequenceNo" column="sequence_no"/>
        <result property="makerId" column="maker_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="relBureauId" column="rel_bureau_id"/>
        <result property="agentId" column="agent_id"/>
        <result property="partnerId" column="partner_id"/>
        <result property="onlineAggrementId" column="online_aggrement_id"/>
        <result property="onlineAggrementUrl" column="online_aggrement_url"/>
        <result property="paperAgreementUrl" column="paper_agreement_url"/>
        <result property="thirdOnlineAgreementUrl" column="third_online_agreement_url"/>
        <result property="paperAgreementUpload" column="paper_agreement_upload"/>
        <result property="firstSideSignPerson" column="first_side_sign_person"/>
        <result property="secondSideSignPerson" column="second_side_sign_person"/>
        <result property="thirdSideSignPerson" column="third_side_sign_person"/>
        <result property="fourthSideSignPerson" column="fourth_side_sign_person"/>
        <result property="uploadDatetime" column="upload_datetime"/>
        <result property="uploadPerson" column="upload_person"/>
    </resultMap>

    <select id="makerIdFind" resultMap="agreementMap">
        select * from diyi_agreement where is_deleted = 0 and maker_id = #{param1}
    </select>

    <select id="makerIdCompanyFind" resultMap="agreementMap">
        select * from diyi_agreement where is_deleted = 0 and maker_id = #{param1} and run_company_id=#{param2}
    </select>

</mapper>
