<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.DeliverMaterialMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.user.entity.DeliverMaterialEntity" id="deliverMaterialMap">
        <result property="deliverMaterialId" column="deliver_material_id"/>
        <result property="paysheetId" column="paysheet_id"/>
        <result property="materialTitle" column="material_title"/>
        <result property="materialMemo" column="material_memo"/>
        <result property="materialUrl" column="material_url"/>
        <result property="thirdMaterialUrl" column="third_material_url"/>
        <result property="uploadDateTime" column="upload_date_time"/>
        <result property="uploadPerson" column="upload_person"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

</mapper>
