<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.EnterpriseMapper">

    <resultMap type="com.lgyun.system.user.vo.EnterprisesDetailVO" id="enterprisesDetailVO">
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="legalPerson" column="legal_person"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="workingAddress" column="working_address"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="createTime" column="create_time"/>
        <result property="enterpriseState" column="enterprise_state"/>
    </resultMap>

    <select id="getEnterpriseDetailById" resultMap="enterprisesDetailVO">
        SELECT enterprise_name, legal_person, contact1_mail, contact1_phone, working_address, social_credit_no, biz_licence_url,
        create_time, enterprise_state FROM diyi_enterprise t1 WHERE is_deleted = 0 AND id = #{param1}
    </select>

</mapper>
