<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.EnterpriseServiceProviderMapper">

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderIdNameListVO" id="serviceProviderIdNameListVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterprisesVO" id="enterprisesVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="makerNum" column="maker_num"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProvidersVO" id="serviceProvidersVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="cooperationNum" column="cooperation_num"/>
        <result property="cooperationMoney" column="cooperation_money"/>
        <result property="cooperateStatus" column="cooperate_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterprisesByProviderVO" id="enterprisesByProviderVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="cooperationNum" column="cooperation_num"/>
        <result property="cooperationMoney" column="cooperation_money"/>
        <result property="cooperateStatus" column="cooperate_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterpriseIdNameListVO" id="enterpriseIdNameListVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
    </resultMap>

    <select id="queryServiceProviderIdAndNameList" resultMap="serviceProviderIdNameListVO">
        SELECT t1.id, t1.service_provider_name FROM diyi_service_provider t1
        <if test="param1 != null">
            INNER JOIN diyi_enterprise_service_provider t2 ON t1.id = t2.service_provider_id
        </if>
        WHERE t1.is_deleted = 0
        <if test="param1 != null">
            AND t2.is_deleted = 0 AND t2.cooperate_status = 'COOPERATING' AND t2.enterprise_id = #{param1}
        </if>
        <if test="param2 != null and param2.trim() != ''">
            AND t1.service_provider_name LIKE concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="queryRelevanceEnterpriseList" resultMap="enterprisesVO">
        SELECT t4.id, t4.enterprise_name, (SELECT COUNT(t1.id) FROM diyi_maker t1 INNER JOIN diyi_maker_enterprise t2 ON t1.id = t2.maker_id WHERE t1.is_deleted = 0
        AND t2.is_deleted = 0 AND t2.enterprise_id = t4.id AND t2.relationship_type = 'RELEVANCE') AS maker_num FROM diyi_enterprise_service_provider t3
        INNER JOIN diyi_enterprise t4 ON t3.enterprise_id = t4.id WHERE t3.is_deleted = 0 AND t4.is_deleted = 0 AND t3.cooperate_status = 'COOPERATING'
        AND t3.service_provider_id = #{param1}
        <if test="param2 != null and param2.trim() != ''">
            AND t4.enterprise_name LIKE concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="getServiceProvidersByEnterpriseId" resultMap="serviceProvidersVO">
        SELECT t2.id, t2.service_provider_name, t1.cooperate_status, t1.create_time,
        (SELECT COUNT(id) FROM diyi_pay_enterprise WHERE id = t3.id) + (SELECT COUNT(id) FROM diyi_self_help_invoice_sp WHERE id = t5.id) AS cooperation_num,
        (SELECT IFNULL(SUM(pay_to_platform_amount), 0) FROM diyi_pay_enterprise WHERE id = t3.id) +
        (SELECT IFNULL(SUM(charge_money_num), 0) FROM diyi_self_help_invoice_sp WHERE id = t5.id) AS cooperation_money
        FROM diyi_enterprise_service_provider t1 INNER JOIN diyi_service_provider t2 ON t1.service_provider_id = t2.id
        LEFT JOIN diyi_pay_enterprise t3 ON t3.is_deleted = 0 AND t3.enterprise_id = t1.enterprise_id AND t3.service_provider_id = t1.service_provider_id
        AND t3.pay_state = 'CONFIRMPAY' LEFT JOIN diyi_self_help_invoice t4 ON t4.is_deleted = 0 AND t4.enterprise_id = t1.enterprise_id
        LEFT JOIN diyi_self_help_invoice_sp t5 ON t5.is_deleted = 0 AND t4.id = t5.self_help_invoice_id AND (t5.apply_state = 'SUBMITTED' OR t5.apply_state = 'INVOICED')
        AND t5.service_provider_id = t1.service_provider_id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.enterprise_id = #{param1}
        <if test="param2 != null and param2.trim() != ''">
        AND t2.service_provider_name LIKE concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="getEnterprtisesByServiceProviderId" resultMap="enterprisesByProviderVO">
        SELECT t2.id, t2.enterprise_name, t1.cooperate_status, t1.create_time,
        (SELECT COUNT(id) FROM diyi_pay_enterprise WHERE id = t3.id) + (SELECT COUNT(id) FROM diyi_self_help_invoice_sp WHERE id = t5.id) AS cooperation_num,
        (SELECT IFNULL(SUM(pay_to_platform_amount), 0) FROM diyi_pay_enterprise WHERE id = t3.id) +
        (SELECT IFNULL(SUM(charge_money_num), 0) FROM diyi_self_help_invoice_sp WHERE id = t5.id) AS cooperation_money
        FROM diyi_enterprise_service_provider t1 INNER JOIN diyi_enterprise t2 ON t1.enterprise_id = t2.id
        LEFT JOIN diyi_pay_enterprise t3 ON t3.is_deleted = 0 AND t3.enterprise_id = t1.enterprise_id AND t3.service_provider_id = t1.service_provider_id
        AND t3.pay_state = 'CONFIRMPAY' LEFT JOIN diyi_self_help_invoice t4 ON t4.is_deleted = 0 AND t4.enterprise_id = t1.enterprise_id
        LEFT JOIN diyi_self_help_invoice_sp t5 ON t5.is_deleted = 0 AND t4.id = t5.self_help_invoice_id AND (t5.apply_state = 'SUBMITTED' OR t5.apply_state = 'INVOICED')
        AND t5.service_provider_id = t1.service_provider_id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.service_provider_id = #{param1}
        <if test="param2 != null and param2.trim() != ''">
        AND t2.enterprise_name LIKE concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="queryEnterpriseIdAndNameList" resultMap="enterpriseIdNameListVO">
        SELECT t1.id AS enterprise_id, t1.enterprise_name FROM diyi_enterprise t1
        <if test="param1 != null">
            INNER JOIN diyi_enterprise_service_provider t2 ON t1.id = t2.enterprise_id
        </if>
        WHERE t1.is_deleted = 0
        <if test="param1 != null">
            AND t2.is_deleted = 0 AND t2.cooperate_status = 'COOPERATING' AND t2.service_provider_id = #{param1}

        </if>
        <if test="param2 != null and param2.trim() != ''">
            AND t1.enterprise_name like concat('%', #{param2}, '%')
        </if>
    </select>

</mapper>