<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.EnterpriseMapper">

    <resultMap type="com.lgyun.system.user.vo.MakerEnterpriseRelationVO" id="makerEnterpriseRelationVO">
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="shopUserName" column="shop_user_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdCard" column="legal_person_idcard"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="shopId" column="shop_id"/>
        <result property="contact1Name" column="contact1_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterprisesDetailVO" id="enterprisesDetailVO">
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="workingAddress" column="working_address"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="createTime" column="create_time"/>
        <result property="enterpriseState" column="enterprise_state"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.admin.EnterpriseListPaymentVO" id="enterpriseListPaymentVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="boolSignContract" column="bool_sign_contract"/>
        <result property="boolSignAgreement" column="bool_sign_agreement"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.admin.ServiceProviderListPaymentVO" id="serviceProviderListPaymentVO">
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="boolSignContract" column="bool_sign_contract"/>
        <result property="boolSignAgreement" column="bool_sign_agreement"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.admin.EnterpriseListEnterpriseVO" id="enterpriseListEnterpriseVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="joinContract" column="join_contract"/>
        <result property="commitmentLetter" column="commitment_letter"/>
        <result property="enterpriseState" column="enterprise_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.admin.EnterpriseDetailEnterpriseVO" id="enterpriseDetailEnterpriseVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdCard" column="legal_person_idcard"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="enterpriseUrl" column="enterprise_url"/>
        <result property="inviteNo" column="invite_no"/>
        <result property="joinContract" column="join_contract"/>
        <result property="commitmentLetter" column="commitment_letter"/>
        <result property="businessPattern" column="business_pattern"/>
        <result property="servicePrice" column="service_price"/>
        <result property="salerId" column="saler_id"/>
        <result property="runnerId" column="runner_id"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddress" column="invoice_address"/>
        <result property="invoiceTelNo" column="invoice_tel_no"/>
        <result property="invoiceBankName" column="invoice_bank_name"/>
        <result property="invoiceAccountName" column="invoice_account_name"/>
        <result property="invoiceAccount" column="invoice_account"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.admin.CooperationServiceProviderListVO" id="cooperationServiceProviderListVO">
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="totalSubAmount" column="total_sub_amount"/>
        <result property="crowdAmount" column="crowd_amount"/>
        <result property="cooperateStatus" column="cooperate_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getEnterpriseName" resultMap="makerEnterpriseRelationVO">
       SELECT id AS enterprise_id, enterprise_name, shop_user_name, legal_person_name, legal_person_id_card as legal_person_idcard, contact1_position, contact1_name, contact1_phone,
       social_credit_no, biz_licence_url, shop_id, contact1_name FROM diyi_enterprise t1 WHERE is_deleted = 0 AND enterprise_name = #{param1}
    </select>

    <select id="getEnterpriseDetailById" resultMap="enterprisesDetailVO">
        SELECT enterprise_name, legal_person_name, contact1_mail, contact1_phone, working_address, social_credit_no, biz_licence_url,
        create_time, enterprise_state FROM diyi_enterprise t1 WHERE is_deleted = 0 AND id = #{param1}
    </select>

    <select id="queryEnterpriseListPayment" resultMap="enterpriseListPaymentVO">
        SELECT t1.id AS enterprise_id, t1.enterprise_name, IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'ENTERPRISEJOINAGREEMENT'
        AND sign_state = 'SIGNED' AND enterprise_id = t1.id) > 0, TRUE, FALSE) AS bool_sign_contract, IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0
        AND agreement_type = 'ENTERPRISEPOWERATTORNEY' AND sign_state = 'SIGNED' AND enterprise_id = t1.id) > 0, TRUE, FALSE) AS bool_sign_agreement
        FROM diyi_enterprise t1 WHERE is_deleted = 0
        <if test="param1.enterpriseId != null">
            AND t1.id LIKE concat('%', #{param1.enterpriseId}, '%')
        </if>
        <if test="param1.enterpriseName != null and param1.enterpriseName.trim() != ''">
            AND t1.enterprise_name LIKE concat('%', #{param1.enterpriseName}, '%')
        </if>
    </select>

    <select id="queryServiceProviderListPayment" resultMap="serviceProviderListPaymentVO">
        SELECT t1.id AS service_provider_id, t1.service_provider_name, IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'SERVICEPROVIDERJOINAGREEMENT'
        AND sign_state = 'SIGNED' AND enterprise_id = t1.id) > 0, TRUE, FALSE) AS bool_sign_contract FROM diyi_service_provider t1 WHERE is_deleted = 0
        <if test="param1.serviceProviderId != null">
            AND t1.id LIKE concat('%', #{param1.serviceProviderId}, '%')
        </if>
        <if test="param1.serviceProviderName != null and param1.serviceProviderName.trim() != ''">
            AND t1.service_provider_name LIKE concat('%', #{param1.serviceProviderName}, '%')
        </if>
    </select>

    <select id="queryEnterpriseListEnterprise" resultMap="enterpriseListEnterpriseVO">
        SELECT t1.id AS enterprise_id, t1.enterprise_name, t1.contact1_name, t1.contact1_phone, t1.enterprise_state, t1.create_time,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url)
        FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'ENTERPRISEJOINAGREEMENT' AND sign_state = 'SIGNED'
        AND enterprise_id = t1.id) AS join_contract, (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL AND paper_agreement_url <![CDATA[ <> ]]> '',
        paper_agreement_url, online_agreement_url) FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'OTHERAGREEMENT'
        AND audit_state = 'APPROVED' AND enterprise_id = t1.id) AS commitment_letter FROM diyi_enterprise t1 WHERE t1.is_deleted = 0
        <if test="param1.enterpriseId != null">
            AND t1.id = #{param1.enterpriseId}
        </if>
        <if test="param1.enterpriseName != null and param1.enterpriseName.trim() != ''">
            AND t1.enterprise_name LIKE concat('%', #{param1.enterpriseName}, '%')
        </if>
        <if test="param1.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param1.endDate != null">
            AND DATEDIFF(t1.create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryEnterpriseDetailEnterprise" resultMap="enterpriseDetailEnterpriseVO">
        SELECT t1.id AS enterprise_id, t1.enterprise_name, t1.legal_person_name, t1.legal_person_idcard, t1.social_credit_no, t1.biz_licence_url,
        t1.enterprise_url, t1.invite_no, t1.business_pattern, t1.service_price, t1.saler_id, t1.runner_id, t1.contact1_name, t1.contact1_position,
        t1.contact1_phone, t1.contact1_mail, t1.contact2_name, t1.contact2_position, t1.contact2_phone, t1.contact2_mail, t1.invoice_enterprise_name,
        t1.invoice_tax_no, t1.invoice_address, t1.invoice_tel_no, t1.invoice_bank_name, t1.invoice_account_name, t1.invoice_account,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url)
        FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'ENTERPRISEJOINAGREEMENT' AND sign_state = 'SIGNED' AND enterprise_id = t1.id) AS join_contract,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url) FROM diyi_agreement
        WHERE is_deleted = 0 AND agreement_type = 'OTHERAGREEMENT' AND audit_state = 'APPROVED' AND enterprise_id = t1.id) AS commitment_letter FROM diyi_enterprise t1
        WHERE t1.is_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="queryCooperationServiceProviderList" resultMap="cooperationServiceProviderListVO">
        SELECT t3.id AS service_provider_id, t3.service_provider_name, t4.cooperate_status, t4.create_time,
        (SELECT IFNULL(SUM(pay_to_platform_amount), 0) FROM diyi_pay_enterprise WHERE is_deleted = 0 AND
        (pay_state = 'PAYED' OR pay_state = 'CONFIRMPAY') AND enterprise_id = t4.enterprise_id AND service_provider_id = t3.id) AS total_sub_amount,
        (SELECT IFNULL(SUM(t2.charge_money_num), 0) FROM diyi_self_help_invoice t1 INNER JOIN diyi_self_help_invoice_sp t2 WHERE t1.is_deleted = 0
        AND t2.is_deleted = 0 AND (t2.apply_state = 'SUBMITTED' OR t2.apply_state = 'INVOICED') AND t1.apply_enterprise_id = t4.enterprise_id
        AND t2.service_provider_id = t3.id) AS crowd_amount FROM diyi_service_provider t3 INNER JOIN diyi_enterprise_service_provider t4
        ON t3.id = t4.service_provider_id WHERE t3.is_deleted = 0 AND t4.is_deleted = 0 AND t4.enterprise_id = #{param1}
    </select>

    <select id="queryEnterpriseIdAndName" resultMap="enterpriseIdNameListVO">
        SELECT id AS enterprise_id, enterprise_name FROM diyi_enterprise WHERE is_deleted = 0 AND id = #{param1}
    </select>

</mapper>
