<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.EnterpriseReportMapper">

    <select id="findReportResultFiles" resultType="java.lang.String">
       SELECT GROUP_CONCAT(report_result_files) FROM diyi_enterprise_report t1 WHERE is_deleted = 0 AND (report_state = 'DECLARESUCCESS'
       OR report_state = 'EDITDECLARESUCCESS') AND main_body_type = #{param1} AND main_body_id = #{param2}
    </select>

    <resultMap id="adminEnterpriseReportAllVO" type="com.lgyun.system.user.vo.AdminEnterpriseReportAllVO">
        <result property="enterpriseReportId" column="enterprise_report_id"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="applyCount" column="apply_count"/>
    </resultMap>

    <resultMap id="queryAdminEnterpriseReportMap" type="com.lgyun.system.user.vo.AdminEnterpriseReportVO">
        <result property="id" column="enterpriseReportId"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="mainBodyType" column="main_body_type"/>
        <result property="mainBodyId" column="main_body_id"/>
        <result property="reportTheme" column="report_theme"/>
        <result property="reportYear" column="report_year"/>
        <result property="reportQuater" column="report_quater"/>
        <result property="reportMonth" column="report_month"/>
        <result property="reportDeadDate" column="report_dead_date"/>
        <result property="reportCompleteDate" column="report_complete_date"/>
        <result property="reportResultDesc" column="report_result_desc"/>
        <result property="reportResultFiles" column="report_result_files"/>
        <result property="reportPerson" column="report_person"/>
        <result property="reportState" column="report_state"/>
        <result property="reportGuardName" column="report_guard_name"/>
        <result property="mainBodyName" column="mainBodyName"/>
    </resultMap>

    <select id="findAdminEnterpriseReportAll" resultMap="adminEnterpriseReportAllVO">
        SELECT a.id AS enterprise_report_id, a.service_provider_id, b.service_provider_name, ( SELECT COUNT(c.id) FROM diyi_enterprise_report c WHERE c.service_provider_id = a.service_provider_id ) AS apply_count FROM diyi_enterprise_report a INNER JOIN diyi_service_provider b ON a.service_provider_id = b.id WHERE
        a.report_theme = #{param2}
        <if test="param1 != null and param1 != ''">
            AND b.service_provider_name LIKE concat('%', #{param1}, '%')
        </if>

        <if test="param3 != null and param3 != ''">
            AND DATEDIFF(a.create_time, #{param3}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param4 != null and param4 != ''">
            AND DATEDIFF(a.create_time, #{param4}) <![CDATA[ <= ]]> 0
        </if>
          GROUP BY a.service_provider_id
    </select>

    <select id="findAdminEnterpriseReport" resultMap="queryAdminEnterpriseReportMap">
        SELECT id,service_provider_id,main_body_type,main_body_id,report_theme,report_year,report_quater,report_month,report_dead_date,report_complete_date,report_result_desc,report_result_files,report_person,report_state,report_guard_name, IF ( b.main_body_type = 'INDIVIDUALENTERPRISE', ( SELECT a.ibname FROM diyi_individual_enterprise a WHERE a.id = b.main_body_id ), ( SELECT c.ibname FROM diyi_individual_business c WHERE c.id = b.main_body_id )) AS main_body_name FROM diyi_enterprise_report b WHERE b.main_body_type = 'INDIVIDUALENTERPRISE' OR b.main_body_type = 'INDIVIDUALBUSINESS' and b.service_provider_id =#{param1} and b.report_theme = #{param2}
    </select>

    <select id="findAdminEnterpriseReportDetail" resultMap="queryAdminEnterpriseReportMap">
        SELECT id,service_provider_id,main_body_type,main_body_id,report_theme,report_year,report_quater,report_month,report_dead_date,report_complete_date,report_result_desc,report_result_files,report_person,report_state,report_guard_name, IF ( b.main_body_type = 'INDIVIDUALENTERPRISE', ( SELECT a.ibname FROM diyi_individual_enterprise a WHERE a.id = b.main_body_id ), ( SELECT c.ibname FROM diyi_individual_business c WHERE c.id = b.main_body_id )) AS main_body_name FROM diyi_enterprise_report b WHERE b.main_body_type = 'INDIVIDUALENTERPRISE' OR b.main_body_type = 'INDIVIDUALBUSINESS' and b.id =#{param1}
    </select>



    <select id="findServiceEnterpriseReport" resultMap="queryAdminEnterpriseReportMap">
        SELECT id,service_provider_id,main_body_type,main_body_id,report_theme,report_year,report_quater,report_month,report_dead_date,report_complete_date,report_result_desc,report_result_files,report_person,report_state,report_guard_name, IF ( b.main_body_type = 'INDIVIDUALENTERPRISE', ( SELECT a.ibname FROM diyi_individual_enterprise a WHERE a.id = b.main_body_id ), ( SELECT c.ibname FROM diyi_individual_business c WHERE c.id = b.main_body_id )) AS main_body_name FROM diyi_enterprise_report b WHERE b.main_body_type = 'INDIVIDUALENTERPRISE' OR b.main_body_type = 'INDIVIDUALBUSINESS' and b.service_provider_id =#{param1} and b.report_theme = #{param2}
        <if test="param3 != null and param3 != ''">
            AND DATEDIFF(b.create_time, #{param3}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param4 != null and param4 != ''">
            AND DATEDIFF(b.create_time, #{param4}) <![CDATA[ <= ]]> 0
        </if>
    </select>

</mapper>
