<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.IndividualBusinessMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.user.entity.IndividualBusinessEntity" id="individualBusinessMap">
        <result property="id" column="id"/>
        <result property="makerId" column="maker_id"/>
        <result property="bizType" column="biz_type"/>
        <result property="ibname" column="ibname"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="buildDateTime" column="build_date_time"/>
        <result property="bizPark" column="biz_park"/>
        <result property="provinceandCounty" column="provinceand_county"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessAddress" column="business_address"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="netBusinessAddress" column="net_business_address"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
        <result property="businessLicenceCopyUrl" column="business_licence_copy_url"/>
        <result property="ibstate" column="ibstate"/>
        <result property="submitDateTime" column="submit_date_time"/>
        <result property="registeredDate" column="registered_date"/>
        <result property="taxRegisterDateTime" column="tax_register_date_time"/>
        <result property="logoutDateTime" column="logout_date_time"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="serviceRat" column="service_rat"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessDetailVO" id="individualBusinessDetailVO">
        <result property="id" column="id"/>
        <result property="ibname" column="ibname"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="bizPark" column="biz_park"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="bizType" column="biz_type"/>
        <result property="bizName" column="biz_name"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
        <result property="businessLicenceCopyUrl" column="business_licence_copy_url"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterpriseIndividualBusinessVO" id="enterpriseIndividualBusinessVO">
        <result property="id" column="id"/>
        <result property="ibname" column="ibname"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="bizType" column="biz_type"/>
        <result property="bizName" column="biz_name"/>
        <result property="bizIdcardNo" column="biz_idcard_no"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
        <result property="businessLicenceUrl1" column="business_licence_url1"/>
        <result property="ibstate" column="ibstate"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="findById" resultMap="individualBusinessDetailVO">
        SELECT t1.id, t1.ibname, t1.candidated_names, t1.ibtax_no, t1.biz_park, t1.main_industry, t1.biz_scope, t1.biz_type, t2.name AS biz_name,
        t1.registered_money, t1.business_licence_url, t1.business_licence_copy_url FROM diyi_individual_business t1 INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="getByDtoEnterprise" resultMap="enterpriseIndividualBusinessVO">

    </select>

    <select id="findByIdEnterprise" resultMap="individualBusinessDetailVO">
        SELECT t1.id, t1.ibname, t1.ibtax_no, t1.main_industry, t1.biz_scope, t1.biz_type, t2.name AS biz_name, t1.registered_money, t1.business_licence_url,
        t1.business_licence_copy_url1, t1.ibstate, t1.create_time FROM diyi_individual_business t1 INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.id = #{param1}
    </select>

</mapper>
