<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.IndividualBusinessMapper">

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessEnterpriseListMakerVO" id="individualBusinessEnterpriseListMakerVO">
        <result property="id" column="id"/>
        <result property="ibname" column="ibname"/>
        <result property="candidatedNames" column="candidated_names"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessEnterpriseDetailMakerVO" id="individualBusinessDetailMakerVO">
        <result property="ibname" column="ibname"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="bizPark" column="biz_park"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="bizType" column="biz_type"/>
        <result property="bizName" column="biz_name"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessEnterpriseListVO" id="individualBusinessEnterpriseListVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="ibname" column="ibname"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="bizType" column="biz_type"/>
        <result property="bizName" column="biz_name"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
        <result property="ibstate" column="ibstate"/>
        <result property="registeredDate" column="registered_date"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessEnterpriseDetailVO" id="individualBusinessEnterpriseDetailVO">
        <result property="id" column="id"/>
        <result property="ibname" column="ibname"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="bizType" column="biz_type"/>
        <result property="bizName" column="biz_name"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
        <result property="ibstate" column="ibstate"/>
        <result property="registeredDate" column="registered_date"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessEnterpriseUpdateDetailVO" id="individualBusinessEnterpriseUpdateDetailVO">
        <result property="id" column="id"/>
        <result property="makerId" column="maker_id"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="bizType" column="biz_type"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="idcardPic" column="idcard_pic"/>
        <result property="idcardPicBack" column="idcard_pic_back"/>
        <result property="idcardHand" column="idcard_hand"/>
        <result property="idcardBackHand" column="idcard_back_hand"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.IndividualBusinessEnterpriseUpdateDetailServiceProviderVO" id="individualBusinessEnterpriseUpdateDetailServiceProviderVO">
        <result property="id" column="id"/>
        <result property="bizType" column="biz_type"/>
        <result property="ibname" column="ibname"/>
        <result property="ibtaxNo" column="ibtax_no"/>
        <result property="buildDateTime" column="build_date_time"/>
        <result property="bizPark" column="biz_park"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="registeredMoney" column="registered_money"/>
        <result property="businessAddress" column="business_address"/>
        <result property="mainIndustry" column="main_industry"/>
        <result property="bizScope" column="biz_scope"/>
        <result property="candidatedNames" column="candidated_names"/>
        <result property="netBusinessAddress" column="net_business_address"/>
        <result property="businessLicenceUrl" column="business_licence_url"/>
        <result property="businessLicenceCopyUrl" column="business_licence_copy_url"/>
        <result property="ibstate" column="ibstate"/>
        <result property="submitDateTime" column="submit_date_time"/>
        <result property="registeredDate" column="registered_date"/>
        <result property="taxRegisterDateTime" column="tax_register_date_time"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="serviceRate" column="service_rate"/>
    </resultMap>

    <select id="queryIndividualBusinessListMaker" resultMap="individualBusinessEnterpriseListMakerVO">
        SELECT DISTINCT t1.id, t1.ibname, t1.candidated_names FROM diyi_individual_business t1
        <if test="param1 != null">
            INNER JOIN diyi_maker_enterprise t2 ON t1.maker_id = t2.maker_id AND t2.relationship_type = 'RELEVANCE' AND t2.bool_deleted = 0
            INNER JOIN diyi_partner_enterprise t3 ON t2.enterprise_id = t3.enterprise_id AND t3.cooperate_status = 'COOPERATING' AND t3.bool_deleted = 0
        </if>
        WHERE t1.bool_deleted = 0 AND t1.ibstate = #{param2}
        <if test="param3 != null">
            AND t1.maker_id = #{param3}
        </if>
    </select>

    <select id="queryIndividualBusinessDetailMaker" resultMap="individualBusinessDetailMakerVO">
        SELECT t1.ibname, t1.candidated_names, t1.ibtax_no, t1.biz_park, t1.main_industry, t1.biz_scope, t1.biz_type, t2.name AS biz_name,
        t1.registered_money, t1.business_licence_url FROM diyi_individual_business t1 INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id
        WHERE t1.bool_deleted = 0 AND t2.bool_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="queryIndividualBusinessList" resultMap="individualBusinessEnterpriseListVO">
        SELECT t1.id, t3.service_provider_name, t1.ibname, t1.candidated_names, t1.ibtax_no, t1.main_industry, t1.biz_scope, t1.biz_type, t2.name AS biz_name,
        t1.registered_money, t1.business_licence_url, t1.ibstate, t1.registered_date FROM diyi_individual_business t1 INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id
        LEFT JOIN diyi_service_provider t3 ON t1.service_provider_id = t3.id AND t3.bool_deleted = 0
        <if test="param1 != null">
            INNER JOIN diyi_maker_enterprise t4 ON t1.maker_id = t4.maker_id AND t4.bool_deleted = 0
        </if>
        WHERE t1.bool_deleted = 0 AND t2.bool_deleted = 0
        <if test="param1 != null">
            AND t4.enterprise_id = #{param1}
        </if>
        <if test="param2 != null">
            AND t1.service_provider_id = #{param2}
        </if>
        <if test="param3.ibname != null and param3.ibname.trim() != ''">
            AND (t1.ibname LIKE concat('%', #{param3.ibname}, '%') OR t1.candidated_names LIKE concat('%', #{param3.ibname}, '%'))
        </if>
        <if test="param3.ibstate != null">
            AND t1.ibstate = #{param3.ibname}
        </if>
        <if test="param3.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param3.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param3.endDate != null">
            AND DATEDIFF(t1.create_time, #{param3.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryIndividualBusinessDetail" resultMap="individualBusinessEnterpriseDetailVO">
        SELECT t1.id, t1.ibname, t1.candidated_names, t1.ibtax_no, t1.main_industry, t1.biz_scope, t1.biz_type, t2.name AS biz_name, t1.registered_money,
        t1.business_licence_url, t1.ibstate, t1.registered_date FROM diyi_individual_business t1 INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id
        WHERE t1.bool_deleted = 0 AND t2.bool_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="queryUpdateIndividualBusinessDetail" resultMap="individualBusinessEnterpriseUpdateDetailVO">
        SELECT t1.id, t2.id AS maker_id, t1.candidated_names, t1.main_industry, t1.biz_scope, t1.biz_type, t1.registered_money, t1.contact_name,
        t1.contact_phone, t2.name, t2.phone_number, t2.idcard_no, t2.idcard_pic, t2.idcard_pic_back, t2.idcard_hand, t2.idcard_back_hand FROM diyi_individual_business t1
        INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id WHERE t1.bool_deleted = 0 AND t2.bool_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="queryUpdateIndividualBusinessDetailServiceProvider" resultMap="individualBusinessEnterpriseUpdateDetailServiceProviderVO">
        SELECT id, biz_type, ibname, ibtax_no, build_date_time, biz_park, province, city, area, registered_money, business_address, main_industry, biz_scope,
        candidated_names, net_business_address, business_licence_url, business_licence_copy_url, ibstate, submit_date_time, registered_date, tax_register_date_time,
        contact_name, contact_phone, service_rate FROM diyi_individual_business WHERE bool_deleted = 0 AND id = #{param1}
    </select>

</mapper>
