<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.MakerMapper">

    <resultMap type="com.lgyun.system.user.vo.maker.MakerInfoVO" id="makerInfoVO">
        <result property="avatar" column="avatar"/>
        <result property="name" column="name"/>
        <result property="certificationState" column="certification_state"/>
        <result property="selfDesc" column="self_desc"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.maker.MakerDetailVO" id="makerDetailVO">
        <result property="relDate" column="rel_date"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="certificationState" column="certification_state"/>
        <result property="empowerSignState" column="empower_sign_state"/>
        <result property="joinSignState" column="join_sign_state"/>
        <result property="makerState" column="maker_state"/>
        <result property="politicState" column="politic_state"/>
        <result property="nationality" column="nationality"/>
        <result property="levelofedu" column="levelofedu"/>
        <result property="emailAddress" column="email_address"/>
        <result property="idCardNo" column="id_card_no"/>
        <result property="dueDate" column="due_date"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="phoneNumber2" column="phone_number2"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="bankName" column="bank_name"/>
        <result property="subBankName" column="sub_bank_name"/>
        <result property="idCardPic" column="id_card_pic"/>
        <result property="idCardPicBack" column="idcard_pic_back"/>
        <result property="selfPic" column="self_pic"/>
        <result property="idCardCopy" column="idcard_copy"/>
        <result property="idcardHand" column="idcard_hand"/>
        <result property="idcardBackHand" column="idcard_back_hand"/>
        <result property="picVerify" column="pic_verify"/>
        <result property="idcardVerifyStatus" column="idcard_verify_status"/>
        <result property="idcardVerifyDate" column="idcard_verify_date"/>
        <result property="faceVerifyStatus" column="face_verify_status"/>
        <result property="faceVerifyDate" column="face_verify_date"/>
        <result property="bankCardVerifyStatus" column="bank_card_verify_status"/>
        <result property="bankCardVerifyDate" column="bank_card_verify_date"/>
        <result property="phoneNumberVerifyStatus" column="phone_number_verify_status"/>
        <result property="phoneNumberVerifyDate" column="phone_number_verify_date"/>
        <result property="idcardVerifyType" column="idcard_verify_type"/>
        <result property="manualVerifyName" column="manual_verify_name"/>
        <result property="manualVerifyDesc" column="manual_verify_desc"/>
        <result property="runAddress" column="run_address"/>
        <result property="houseAddress" column="house_address"/>
        <result property="livingAddress" column="living_address"/>
        <result property="selfDesc" column="self_desc"/>
        <result property="shopUrl" column="shop_url"/>
        <result property="shopUserName" column="shop_user_name"/>
        <result property="applyShortVideo" column="apply_short_video"/>
        <result property="videoAudit" column="video_audit"/>
        <result property="videoAuditDate" column="video_audit_date"/>
        <result property="videoAuditPersonId" column="video_audit_person_id"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.MakerEnterpriseNumIncomeVO" id="makerEnterpriseNumIncomeVO">
        <result property="enterpriseNum" column="enterprise_num"/>
        <result property="monthIncome" column="month_income"/>
        <result property="yearIncome" column="year_income"/>
        <result property="allIncome" column="all_income"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterpriseMakerDetailVO" id="enterpriseMakerDetailVO">
        <result property="avatar" column="avatar"/>
        <result property="name" column="name"/>
        <result property="certificationState" column="certification_state"/>
        <result property="selfDesc" column="self_desc"/>
        <result property="orderNum" column="order_num"/>
        <result property="income" column="income"/>
        <result property="id" column="id"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="bankName" column="bank_name"/>
        <result property="boolRealNameVerify" column="bool_real_name_verify"/>
        <result property="platformJoinContract" column="platform_join_contract"/>
        <result property="licenseAgreement" column="license_agreement"/>
        <result property="separateAgreement" column="separate_agreement"/>
        <result property="createTime" column="create_time"/>
        <result property="makerState" column="maker_state"/>
    </resultMap>

    <select id="queryMakerInfo" resultMap="makerInfoVO">
        SELECT avatar, name, certification_state, self_desc FROM diyi_maker WHERE is_deleted = 0 AND id = #{param1}
    </select>

    <select id="queryCurrentMakerDetail" resultMap="makerDetailVO">
        SELECT rel_date, name, avatar, certification_state, empower_sign_state, join_sign_state, maker_state, politic_state, nationality, levelofedu,
        email_address, idcard_no, due_date, phone_number, phone_number2, bank_card_no, bank_name, sub_bank_name, idcard_pic, idcard_pic_back,
        self_pic, idcard_copy, idcard_hand, idcard_back_hand, pic_verify, idcard_verify_status, idcard_verify_date, face_verify_status, face_verify_date,
        bank_card_verify_status, bank_card_verify_date, phone_number_verify_status, phone_number_verify_date, idcard_verify_type, manual_verify_name,
        manual_verify_desc, run_address, house_address, living_address, self_desc, shop_url, shop_user_name, apply_short_video, video_audit,
        video_audit_date, video_audit_person_id FROM diyi_maker WHERE is_deleted = 0 AND id = #{param1}
    </select>

    <select id="getEnterpriseNumIncome" resultMap="makerEnterpriseNumIncomeVO">
        SELECT * FROM (SELECT COUNT(t1.id) AS enterprise_num FROM diyi_maker_enterprise t1 INNER JOIN diyi_enterprise t2 ON t1.enterprise_id = t2.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.maker_id = #{param1} AND t1.relationship_type = 'RELEVANCE' AND t1.cooperate_status = 'COOPERATING') t1,
        (SELECT IFNULL(SUM(IF(DATEDIFF(NOW(), t2.check_date) <![CDATA[ < ]]> 30, t2.check_money, 0)), 0) AS month_income, IFNULL(SUM(IF(DATEDIFF(NOW(), t2.check_date) <![CDATA[ < ]]> 365, t2.check_money, 0)), 0) AS year_income,
        IFNULL(SUM(t2.check_money), 0) AS all_income FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.worksheet_maker_state = 'VALIDATION' AND t2.maker_id = #{param2}) t2
    </select>

    <select id="getMakerDetailById" resultMap="enterpriseMakerDetailVO">
        SELECT t5.id, t5.avatar, t5.name, t5.certification_state, t5.self_desc, t5.idcard_no, t5.phone_number, t5.bank_card_no, t5.bank_name, t5.create_time, t5.maker_state,
        (SELECT COUNT(t2.id) FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.worksheet_maker_state = 'VALIDATION'
        <if test="param1 != null">
        AND t1.enterprise_id = #{param1}
        </if>
        AND t2.maker_id = t5.id) AS order_num,
        (SELECT IFNULL(SUM(t4.check_money), 0) FROM diyi_worksheet t3 INNER JOIN diyi_worksheet_maker t4 ON t3.id = t4.worksheet_id
        WHERE t3.is_deleted = 0 AND t4.is_deleted = 0 AND t4.worksheet_maker_state = 'VALIDATION'
        <if test="param1 != null">
        AND t3.enterprise_id = #{param1}
        </if>
        AND t4.maker_id = t5.id) AS income,
        IF(t5.bank_card_verify_status = 'VERIFYPASS', TRUE, FALSE) AS bool_real_name_verify,
        (SELECT CASE sign_type WHEN 'PAPERAGREEMENT' THEN paper_agreement_url WHEN 'PLATFORMAGREEMENT' THEN online_aggrement_url WHEN 'THIRDAGREEMENT' THEN third_online_agreement_url WHEN 'UNILATERALPOWER' THEN paper_agreement_url
        WHEN 'ELEUNILATERALPOWER' THEN online_aggrement_url ELSE NULL END FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t5.id AND sign_state = 'SIGNED' AND agreement_type = 1) AS platform_join_contract,
        (SELECT CASE sign_type WHEN 'PAPERAGREEMENT' THEN paper_agreement_url WHEN 'PLATFORMAGREEMENT' THEN online_aggrement_url WHEN 'THIRDAGREEMENT' THEN third_online_agreement_url WHEN 'UNILATERALPOWER' THEN paper_agreement_url
        WHEN 'ELEUNILATERALPOWER' THEN online_aggrement_url ELSE NULL END FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t5.id AND sign_state = 'SIGNED' AND agreement_type = 10) AS enterprise_business_agreement,
        (SELECT CASE sign_type WHEN 'PAPERAGREEMENT' THEN paper_agreement_url WHEN 'PLATFORMAGREEMENT' THEN online_aggrement_url WHEN 'THIRDAGREEMENT' THEN third_online_agreement_url WHEN 'UNILATERALPOWER' THEN paper_agreement_url
        WHEN 'ELEUNILATERALPOWER' THEN online_aggrement_url ELSE NULL END FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t5.id AND sign_state = 'SIGNED' AND agreement_type = 9) AS license_agreement,
        (SELECT CASE sign_type WHEN 'PAPERAGREEMENT' THEN paper_agreement_url WHEN 'PLATFORMAGREEMENT' THEN online_aggrement_url WHEN 'THIRDAGREEMENT' THEN third_online_agreement_url WHEN 'UNILATERALPOWER' THEN paper_agreement_url
        WHEN 'ELEUNILATERALPOWER' THEN online_aggrement_url ELSE NULL END FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t5.id AND sign_state = 'SIGNED' AND agreement_type = 12) AS separate_agreement
        FROM diyi_maker t5 WHERE t5.is_deleted = 0 AND t5.id = #{param2}
    </select>

</mapper>
