<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.MakerMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.user.entity.MakerEntity" id="makerMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="openid" column="openid"/>
        <result property="sessionKey" column="session_key"/>
        <result property="relDate" column="rel_date"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="certificationState" column="certification_state"/>
        <result property="empowerSignState" column="empower_sign_state"/>
        <result property="joinSignState" column="join_sign_state"/>
        <result property="makerState" column="maker_state"/>
        <result property="politicState" column="politic_state"/>
        <result property="nationality" column="nationality"/>
        <result property="levelofedu" column="levelofedu"/>
        <result property="emailAddress" column="email_address"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="dueDate" column="due_date"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="phoneNumber2" column="phone_number2"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="bankName" column="bank_name"/>
        <result property="subBankName" column="sub_bank_name"/>
        <result property="idcardPic" column="idcard_pic"/>
        <result property="idcardPicBack" column="idcard_pic_back"/>
        <result property="selfPic" column="self_pic"/>
        <result property="idcarCopy" column="idcar_copy"/>
        <result property="idcardBackHand" column="idcard_back_hand"/>
        <result property="idcardHand" column="idcard_hand"/>
        <result property="idcardVerifyStatus" column="idcard_verify_status"/>
        <result property="idcardVerifyDate" column="idcard_verify_date"/>
        <result property="faceVerifyStatus" column="face_verify_status"/>
        <result property="faceVerifyDate" column="face_verify_date"/>
        <result property="bankCardVerifyStatus" column="bank_card_verify_status"/>
        <result property="bankCardVerifyDate" column="bank_card_verify_date"/>
        <result property="phoneNumberVerifyStatus" column="phone_number_verify_status"/>
        <result property="phoneNumberVerifyDate" column="phone_number_verify_date"/>
        <result property="picVerify" column="pic_verify"/>
        <result property="idcardVerifyType" column="idcard_verify_type"/>
        <result property="manualVerifyName" column="manual_verify_name"/>
        <result property="manualVerifyDesc" column="manual_verify_desc"/>
        <result property="runAddress" column="run_address"/>
        <result property="houseAddress" column="house_address"/>
        <result property="livingAddress" column="living_address"/>
        <result property="selfDesc" column="self_desc"/>
        <result property="shopId" column="shop_id"/>
        <result property="shopUrl" column="shop_url"/>
        <result property="shopUserName" column="shop_user_name"/>
        <result property="applyShortVideo" column="apply_short_video"/>
        <result property="videoAudit" column="video_audit"/>
        <result property="videoAuditDate" column="video_audit_date"/>
        <result property="videoAuditPersonId" column="video_audit_person_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.MakerEnterpriseNumIncomeVO" id="makerEnterpriseNumIncomeVO">
        <result property="enterpriseNum" column="enterprise_num"/>
        <result property="monthIncome" column="month_income"/>
        <result property="yearIncome" column="year_income"/>
        <result property="allIncome" column="all_income"/>
    </resultMap>

    <select id="getEnterpriseNumIncome" resultMap="makerEnterpriseNumIncomeVO">
        SELECT * FROM (SELECT COUNT(t1.id) AS enterprise_num FROM diyi_maker_enterprise t1 INNER JOIN diyi_enterprise t2 ON t1.enterprise_id = t2.id
        WHERE t1.maker_id = #{param1} AND t1.relationship_type = 0 AND t1.cooperate_status = 'COOPERATING') t1,
        (SELECT IFNULL(SUM(IF(DATEDIFF(NOW(), t2.check_date) <![CDATA[ < ]]> 30, t2.check_money, 0)), 0) AS month_income, IFNULL(SUM(IF(DATEDIFF(NOW(), t2.check_date) <![CDATA[ < ]]> 365, t2.check_money, 0)), 0) AS year_income,
        IFNULL(SUM(t2.check_money), 0) AS all_income FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.worksheet_maker_state = 'VALIDATION' AND t2.maker_id = #{param2}) t2
    </select>

</mapper>
