<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.MakerEnterpriseMapper">

    <resultMap type="com.lgyun.system.user.vo.MakerEnterpriseRelationVO" id="makerEnterpriseRelationMap">
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="shopUserName" column="shop_user_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdCard" column="legal_person_idcard"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="relationshipType" column="relationship_type"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.RelMakerListVO" id="relEnterpriseMakerVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="boolRealNameVerify" column="bool_real_name_verify"/>
        <result property="boolSign" column="bool_sign"/>
        <result property="boolIndividualBusiness" column="bool_individual_business"/>
        <result property="boolIndividualEnterprise" column="bool_individual_enterprise"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterprisesIdNameListVO" id="enterprisesIdNameListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
    </resultMap>

    <resultMap id="makerEnterpriseWebVOMap" type="com.lgyun.system.user.vo.MakerEnterpriseWebVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="name" column="name"/>
        <result property="makerEnterpriseId" column="maker_enterprise_id"/>
        <result property="makerId" column="maker_id"/>
        <result property="certificationState" column="certification_state"/>
        <result property="protocolAuthentication" column="protocol_authentication"/>
        <result property="empowerSignState" column="empower_sign_state"/>
        <result property="joinSignState" column="join_sign_state"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceSerProVO" id="selfHelpInvoiceSerProVO">
        <result property="id" column="id"/>
        <result property="currentState" column="current_state"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="invoiceScanPictures" column="invoice_scan_pictures"/>
        <result property="taxScanPictures" column="tax_scan_pictures"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceDetailProviderVO" id="selfHelpInvoiceDetailProviderVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankNo" column="bank_no"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.maker.MakerEnterpriseDetailYearMonthVO" id="makerEnterpriseDetailYearMonthVO">
        <result property="income" column="income"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="checkMoney" column="check_money"/>
        <result property="checkDate" column="check_date"/>
    </resultMap>

    <select id="selectMakerEnterprisePage" resultMap="makerEnterpriseRelationMap">
        SELECT e.enterprise_name, e.shop_user_name, e.legal_person_name, e.legal_person_idcard, e.contact1_position, e.contact1_phone, e.social_credit_no,
        e.biz_licence_url, e.id as enterprise_id,me.relationship_type FROM diyi_maker_enterprise me INNER JOIN diyi_enterprise e ON me.enterprise_id = e.id
        WHERE me.is_deleted = 0 and e.is_deleted = 0 and me.maker_id = #{param1} AND me.relationship_type = #{param2} and me.cooperate_status = 'COOPERATING'
    </select>

    <select id="getEnterpriseMakerList" resultMap="relEnterpriseMakerVO">
        SELECT t1.id, t1.name, t1.idcard_no, t1.phone_number, t1.bank_card_no,
        IF(t1.bank_card_verify_status = 'VERIFYPASS', TRUE, FALSE) AS bool_real_name_verify,
        IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t1.id AND sign_state = 'SIGNED' AND agreement_type = 1) > 0
        AND (SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t1.id AND sign_state = 'SIGNED' AND agreement_type = 9) > 0, TRUE, FALSE) AS bool_sign,
        IF((SELECT COUNT(id) FROM diyi_individual_business WHERE is_deleted = 0 AND maker_id = t1.id AND ibstate = 'OPERATING') > 0, TRUE, FALSE) AS bool_individual_business,
        IF((SELECT COUNT(id) FROM diyi_individual_enterprise WHERE is_deleted = 0 AND maker_id = t1.id AND ibstate = 'OPERATING') > 0, TRUE, FALSE) AS bool_individual_enterprise
        FROM diyi_maker t1
        <if test="param1 != null">
            INNER JOIN diyi_maker_enterprise t2 ON t1.id = t2.maker_id AND t2.is_deleted = 0
        </if>
        WHERE t1.is_deleted = 0
        <if test="param1 != null">
            AND t2.enterprise_id = #{param1}
        </if>
        <if test="param1 != null and param2 != null">
            AND t2.relationship_type = #{param2}
        </if>
        <if test="param3 != null">
            AND t1.certification_state = #{param3}
        </if>
        <if test="param4 != null and param4.trim() != ''">
            AND (t1.id like concat('%', #{param4}, '%')
            OR t1.name like concat('%', #{param4}, '%')
            OR t1.phone_number like concat('%', #{param4}, '%'))
        </if>
    </select>

    <select id="queryRelevanceEnterpriseIdAndNameList" resultMap="enterprisesIdNameListVO">
        SELECT t1.id, t1.enterprise_name FROM diyi_enterprise t1 INNER JOIN diyi_maker_enterprise t2 ON t1.id = t2.enterprise_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.relationship_type = 'RELEVANCE' AND t2.maker_id = #{param1}
    </select>

    <select id="getSelfHelpInvoiceByServiceProviderId" resultMap="selfHelpInvoiceSerProVO">
        SELECT t1.id, t1.current_state, t3.enterprise_name, t4.invoice_scan_pictures, t4.tax_scan_pictures, t1.create_time FROM diyi_self_help_invoice t1
        INNER JOIN diyi_self_help_invoice_sp t2 ON t1.id = t2.self_help_invoice_id INNER JOIN diyi_enterprise t3 ON t1.enterprise_id = t3.id
        LEFT JOIN diyi_self_help_invoice_sp_detail t4 ON t2.id = t4.self_help_invoice_apply_provider_id AND t4.is_deleted = 0
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t2.service_provider_id = #{param1}
        <if test="param2 != null and param2.trim() != ''">
            AND t3.enterprise_name like concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="selectEnterpriseMaker" resultMap="makerEnterpriseWebVOMap">
        SELECT e.id AS enterprise_id, m.id AS maker_enterprise_id, k.id AS maker_id, k.certification_state, k.empower_sign_state, k.join_sign_state,
        k. NAME FROM diyi_maker_enterprise m INNER JOIN diyi_enterprise e ON m.enterprise_id = e.id INNER JOIN diyi_maker k ON k.id = m.maker_id
        WHERE m.relationship_type = 'RELEVANCE' AND m.cooperate_status = 'COOPERATING' AND m.is_deleted = 0 AND e.is_deleted = 0 AND k.is_deleted = 0
        AND m.enterprise_id = #{param1}
    </select>

    <select id="getSelfHelpInvoiceDetails" resultMap="selfHelpInvoiceDetailProviderVO">
        SELECT IF(t2.maker_id IS NOT NULL, (SELECT id FROM diyi_maker WHERE id = t2.maker_id), (SELECT id FROM diyi_self_help_invoice_person WHERE id = t2.id)) AS id,
        IF(t2.maker_id IS NOT NULL, (SELECT name FROM diyi_maker WHERE id = t2.maker_id), (SELECT idcard_name FROM diyi_self_help_invoice_person WHERE id = t2.id)) AS name,
        IF(t2.maker_id IS NOT NULL, (SELECT idcard_no FROM diyi_maker WHERE id = t2.maker_id), (SELECT idcard_no FROM diyi_self_help_invoice_person WHERE id = t2.id)) AS idcard_no,
        IF(t2.maker_id IS NOT NULL, (SELECT phone_number FROM diyi_maker WHERE id = t2.maker_id), (SELECT phone_number FROM diyi_self_help_invoice_person WHERE id = t2.id)) AS phone_number,
        IF(t2.maker_id IS NOT NULL, (SELECT bank_card_no FROM diyi_maker WHERE id = t2.maker_id), '') AS bank_no
        FROM diyi_self_help_invoice t1 INNER JOIN diyi_self_help_invoice_detail t2 ON t1.id = t2.self_help_invoice_id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="getMakerDetailed" resultMap="makerEnterpriseDetailYearMonthVO">
        SELECT pm.maker_net_income check_money, pm.total_fee income, e.enterprise_name, pm.create_time AS check_date FROM diyi_maker_enterprise me
        INNER JOIN diyi_pay_enterprise pe ON me.enterprise_id = pe.enterprise_id INNER JOIN diyi_enterprise e ON e.id = me.enterprise_id INNER JOIN diyi_pay_maker pm
        ON pm.pay_enterprise_id = pe.id WHERE pe.pay_state = 'CONFIRMPAY' pm.maker_id =#{param1} AND me.enterprise_id =#{param2}
    </select>

    <select id="getMakerCrowdDetailed" resultMap="makerEnterpriseDetailYearMonthVO">
        SELECT e.enterprise_name, shid.charge_money_num AS income, shid.create_time AS check_date, shid.charge_money_num AS check_money FROM diyi_maker_enterprise me
        INNER JOIN diyi_self_help_invoice shi ON me.enterprise_id = shi.enterprise_id INNER JOIN diyi_self_help_invoice_detail shid
        ON shid.self_help_invoice_id = shi.id INNER JOIN diyi_enterprise e ON e.id = me.enterprise_id WHERE 1 = 1 AND me.maker_id =#{param1}
        AND me.enterprise_id =#{param2}
    </select>
</mapper>
