<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.MakerEnterpriseMapper">

    <resultMap type="com.lgyun.system.user.vo.MakerEnterpriseRelationVO" id="makerEnterpriseRelationMap">
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="shopUserName" column="shop_user_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdCard" column="legal_person_idcard"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="relationshipType" column="relationship_type"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterprisesIdNameListVO" id="enterprisesIdNameListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
    </resultMap>

    <resultMap id="makerEnterpriseWebVOMap" type="com.lgyun.system.user.vo.MakerEnterpriseWebVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="name" column="name"/>
        <result property="makerEnterpriseId" column="maker_enterprise_id"/>
        <result property="makerId" column="maker_id"/>
        <result property="certificationState" column="certification_state"/>
        <result property="protocolAuthentication" column="protocol_authentication"/>
        <result property="empowerSignState" column="empower_sign_state"/>
        <result property="joinSignState" column="join_sign_state"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.MakerEnterpriseDetailYearMonthVO" id="makerEnterpriseDetailYearMonthVO">
        <result property="income" column="income"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="checkMoney" column="check_money"/>
        <result property="checkDate" column="check_date"/>
    </resultMap>

    <select id="selectMakerEnterprisePage" resultMap="makerEnterpriseRelationMap">
        SELECT e.enterprise_name, e.shop_user_name, e.legal_person_name, e.legal_person_id_card as legal_person_idcard, e.contact1_position, e.contact1_phone, e.social_credit_no,
        e.biz_licence_url, e.id as enterprise_id,me.relationship_type FROM diyi_maker_enterprise me INNER JOIN diyi_enterprise e ON me.enterprise_id = e.id
        WHERE me.is_deleted = 0 and e.is_deleted = 0 and me.maker_id = #{param1} AND me.relationship_type = #{param2} and me.cooperate_status = 'COOPERATING'
    </select>

    <select id="queryRelevanceEnterpriseIdAndNameList" resultMap="enterprisesIdNameListVO">
        SELECT t1.id, t1.enterprise_name FROM diyi_enterprise t1 INNER JOIN diyi_maker_enterprise t2 ON t1.id = t2.enterprise_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.relationship_type = 'RELEVANCE' AND t2.maker_id = #{param1}
    </select>

    <select id="selectEnterpriseMaker" resultMap="makerEnterpriseWebVOMap">
        SELECT e.id AS enterprise_id, m.id AS maker_enterprise_id, k.id AS maker_id, k.certification_state, k.empower_sign_state, k.join_sign_state,
        k. NAME FROM diyi_maker_enterprise m INNER JOIN diyi_enterprise e ON m.enterprise_id = e.id INNER JOIN diyi_maker k ON k.id = m.maker_id
        WHERE m.relationship_type = 'RELEVANCE' AND m.cooperate_status = 'COOPERATING' AND m.is_deleted = 0 AND e.is_deleted = 0 AND k.is_deleted = 0
        AND m.enterprise_id = #{param1}
    </select>

    <select id="getMakerDetailed" resultMap="makerEnterpriseDetailYearMonthVO">
        SELECT pm.maker_net_income check_money, pm.total_fee income, e.enterprise_name, pm.create_time AS check_date FROM diyi_maker_enterprise me
        INNER JOIN diyi_pay_enterprise pe ON me.enterprise_id = pe.enterprise_id INNER JOIN diyi_enterprise e ON e.id = me.enterprise_id INNER JOIN diyi_pay_maker pm
        ON pm.pay_enterprise_id = pe.id WHERE pe.pay_state = 'CONFIRMPAY' and pm.maker_id =#{param1} AND me.enterprise_id =#{param2}
    </select>

    <select id="getMakerCrowdDetailed" resultMap="makerEnterpriseDetailYearMonthVO">
        SELECT e.enterprise_name, shid.charge_money_num AS income, shid.create_time AS check_date, shid.charge_money_num AS check_money FROM diyi_maker_enterprise me
        INNER JOIN diyi_self_help_invoice shi ON me.enterprise_id = shi.enterprise_id INNER JOIN diyi_self_help_invoice_detail shid
        ON shid.self_help_invoice_id = shi.id INNER JOIN diyi_enterprise e ON e.id = me.enterprise_id WHERE 1 = 1 AND me.maker_id =#{param1}
        AND me.enterprise_id =#{param2}
    </select>
</mapper>
