<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.OnlineAgreementNeedSignMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.user.entity.OnlineAgreementNeedSignEntity" id="onlineAgreementNeedSignMap">
        <result property="id" column="id"/>
        <result property="onlineAgreementTemplateId" column="online_agreement_template_id"/>
        <result property="objectType" column="object_type"/>
        <result property="signState" column="sign_state"/>
        <result property="signPower" column="sign_power"/>
        <result property="objectId" column="object_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.OnlineAgreementNeedSignVO" id="onlineAgreementNeedSignVOMap">
        <result property="onlineAgreementNeedSignId" column="online_agreement_need_sign_id"/>
        <result property="onlineAgreementTemplateId" column="online_agreement_template_id"/>
        <result property="templateType" column="template_type"/>
        <result property="agreementTemplate" column="agreement_template"/>
        <result property="isContract" column="is_contract"/>
        <result property="signState" column="sign_state"/>
        <result property="onlineAggrementUrl" column="online_aggrement_url"/>
    </resultMap>

    <select id="getOnlineAgreementNeedSign" resultMap="onlineAgreementNeedSignVOMap">
        SELECT dn.id AS online_agreement_need_sign_id, dt.id AS online_agreement_template_id, dt.template_type, dt.agreement_template, dt.is_contract, dn.sign_state, dt.template_state, a.online_aggrement_url FROM diyi_online_agreement_need_sign dn INNER JOIN diyi_online_agreement_template dt ON dn.online_agreement_template_id = dt.id LEFT JOIN diyi_agreement a ON a.online_agreement_template_id = dt.id WHERE dn.is_deleted = 0 AND dt.is_deleted = 0 AND dt.template_state = 1 AND dn.object_type = 1 and dn.object_id =#{param1} and dt.is_contract = #{param2}
    </select>


</mapper>
