<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.OnlineAgreementNeedSignMapper">

    <resultMap type="com.lgyun.system.user.vo.OnlineAgreementNeedSignVO" id="onlineAgreementNeedSignVOMap">
        <result property="onlineAgreementNeedSignId" column="online_agreement_need_sign_id"/>
        <result property="onlineAgreementTemplateId" column="online_agreement_template_id"/>
        <result property="agreementType" column="agreement_type"/>
        <result property="agreementTemplate" column="agreement_template"/>
        <result property="templateType" column="template_type"/>
        <result property="signState" column="sign_state"/>
        <result property="onlineAgreementUrl" column="online_agreement_url"/>
    </resultMap>

    <select id="getOnlineAgreementNeedSign" resultMap="onlineAgreementNeedSignVOMap">
        SELECT dn.id AS online_agreement_need_sign_id, dt.id AS online_agreement_template_id, dt.agreement_type, dt.agreement_template, dt.template_type,
        dn.sign_state, dt.template_state, a.online_agreement_url FROM diyi_online_agreement_need_sign dn INNER JOIN diyi_online_agreement_template dt
        ON dn.online_agreement_template_id = dt.id LEFT JOIN diyi_agreement a ON a.online_agreement_template_id = dt.id and a.maker_id = dn.object_id WHERE dn.bool_deleted = 0 AND dt.bool_deleted = 0
        AND dt.template_state = 'APPLICATION' AND dn.object_type = #{param1} and dn.object_id =#{param2} and dt.template_type = #{param3}
    </select>

</mapper>
