<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.OnlineAgreementNeedSignMapper">

    <resultMap type="com.lgyun.system.user.vo.OnlineAgreementNeedSignVO" id="onlineAgreementNeedSignVOMap">
        <result property="onlineAgreementNeedSignId" column="online_agreement_need_sign_id"/>
        <result property="onlineAgreementTemplateId" column="online_agreement_template_id"/>
        <result property="agreementType" column="agreement_type"/>
        <result property="agreementTemplate" column="agreement_template"/>
        <result property="templateType" column="template_type"/>
        <result property="signState" column="sign_state"/>
        <result property="agreementUrl" column="agreement_url"/>
    </resultMap>

    <select id="getOnlineAgreementNeedSign" resultMap="onlineAgreementNeedSignVOMap">
        SELECT t1.id AS online_agreement_need_sign_id, t2.id AS online_agreement_template_id, t2.agreement_type, t2.agreement_template, t2.template_type,
        t1.sign_state, t2.template_state, t3.agreement_url FROM diyi_online_agreement_need_sign t1 INNER JOIN diyi_online_agreement_template t2
        ON t1.online_agreement_template_id = t2.id LEFT JOIN diyi_agreement t3 ON t3.online_agreement_template_id = t2.id AND t3.bool_deleted = 0
        AND t3.valid_state = 'VALIDING' AND ((t3.party_a = t1.object_type AND t3.party_a_id = t1.object_id) OR (t3.party_b = t1.object_type AND t3.party_b_id = t1.object_id))
        WHERE t1.bool_deleted = 0 AND t2.bool_deleted = 0 AND t2.template_state = 'APPLICATION' AND t1.object_type = #{param1} AND t1.object_id =#{param2}
        AND t2.template_type = #{param3}
    </select>

</mapper>
