<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.PartnerMapper">

    <resultMap type="com.lgyun.system.user.vo.PartnerListVO" id="partnerListVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="idcardVerifyStatus" column="idcard_verify_status"/>
        <result property="faceVerifyStatus" column="face_verify_status"/>
        <result property="bankCardVerifyStatus" column="bank_card_verify_status"/>
        <result property="phoneNumberVerifyStatus" column="phone_number_verify_status"/>
        <result property="joinSignState" column="join_sign_state"/>
        <result property="partnerState" column="partner_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.PartnerInfoVO" id="partnerInfoVO">
        <result property="avatar" column="avatar"/>
        <result property="name" column="name"/>
        <result property="certificationState" column="certification_state"/>
        <result property="selfDesc" column="self_desc"/>
    </resultMap>

    <select id="queryPartnerList" resultMap="partnerListVO">
        SELECT id, name, idcard_no, phone_number, bank_card_no, idcard_verify_status, face_verify_status, bank_card_verify_status,
        phone_number_verify_status, join_sign_state, partner_state, create_time FROM diyi_partner WHERE is_deleted = 0
        <if test="param1.partnerName != null and param1.partnerName != ''">
            AND name LIKE concat('%', #{param1.partnerName}, '%')
        </if>
        <if test="param1.beginDate != null">
            AND DATEDIFF(create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param1.endDate != null">
            AND DATEDIFF(create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryPartnerInfo" resultMap="partnerInfoVO">
        SELECT avatar, name, certification_state, self_desc FROM diyi_partner WHERE is_deleted = 0 AND id = #{param1}
    </select>

</mapper>
