<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.PartnerMapper">

    <resultMap id="partnerVO" type="com.lgyun.system.user.vo.PartnerVO">
        <id property="partnerId" column="id"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="isAuth" column="is_auth"/>
        <result property="isSign" column="is_sign"/>
        <result property="partnerState" column="partner_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getPartnerList" resultMap="partnerVO">
        SELECT
            p.id,
            p.`name`,
            p.phone_number,
            p.idcard_verify_status as is_auth,
            (
                SELECT

                IF (
                    sign_type = 'PAPERAGREEMENT',
                    paper_agreement_url,
                    third_online_agreement_url
                )
                FROM
                    diyi_agreement
                WHERE
                    partner_id = p.id
                AND agreement_type = 'PARTNERJOINAGREEMENT'
                AND sign_state = 'SIGNED' AND audit_state = 'APPROVED'
            ) AS is_sign,
            p.partner_state,
            p.create_time
        FROM
            diyi_partner p
        WHERE
            p.is_deleted = 0
        <if test="param1.agentMainId != null and param1.agentMainId != ''">
            and p.id = #{param1.agentMainId}
        </if>
        <if test="param1.enterpriseName != null and param1.enterpriseName.trim() != ''">
            AND p.enterprise_name LIKE concat('%', #{param1.enterpriseName}, '%')
        </if>
        <if test="param1.beginDate != null">
            AND DATEDIFF(p.create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param1.endDate != null">
            AND DATEDIFF(p.create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>
</mapper>
