<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.RelBureauNoticeMapper">

    <resultMap type="com.lgyun.system.user.vo.RelBureauNoticeListVO" id="relBureauNoticeListVO">
        <result property="id" column="id"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeDesc" column="notice_desc"/>
        <result property="noticeUrl" column="notice_url"/>
        <result property="publishDatetime" column="publish_datetime"/>
        <result property="contactPerson" column="contact_person"/>
    </resultMap>

    <select id="queryBureauNoticeList" resultMap="relBureauNoticeListVO">
        SELECT id, notice_title, notice_desc, notice_url, publish_datetime, contact_person FROM diyi_rel_bureau_notice WHERE bool_deleted = 0
        AND rel_bureau_id = #{param1} AND notice_state = #{param2}
    </select>

</mapper>
