<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.RelBureauServiceProviderMapper">

    <resultMap type="com.lgyun.system.user.vo.CooperationServiceProviderListVO" id="cooperationServiceProviderListVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="cooperationMoney" column="cooperation_money"/>
        <result property="cooperateStatus" column="cooperate_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryCooperationServiceProviderList" resultMap="cooperationServiceProviderListVO">
        SELECT t2.id, t2.service_provider_name, t1.cooperate_status, t1.create_time, (SELECT IFNULL(SUM(pay_to_platform_amount), 0) FROM diyi_pay_enterprise WHERE
        bool_deleted = 0 AND service_provider_id = t1.service_provider_id AND audit_state = 'APPROVED') + (SELECT IFNULL(SUM(charge_money_num), 0)
        FROM diyi_self_help_invoice_sp WHERE bool_deleted = 0 AND service_provider_id = t1.service_provider_id AND (apply_state = 'SUBMITTED' OR apply_state = 'INVOICED'))
        AS cooperation_money FROM diyi_rel_bureau_service_provider t1 INNER JOIN diyi_service_provider t2 ON t1.service_provider_id = t2.id WHERE t1.bool_deleted = 0
        AND t2.bool_deleted = 0 AND t1.rel_bureau_id = #{param1}
        <if test="param2 != null and param2.trim() != ''">
            AND t2.service_provider_name LIKE concat('%', #{param2}, '%')
        </if>
    </select>

    <select id="queryRelBureauTypeServiceProviderNum" resultType="int">
        SELECT COUNT(t1.id) FROM diyi_rel_bureau_service_provider t1 INNER JOIN diyi_rel_bureau t2 ON t1.rel_bureau_id = t2.id
        WHERE t1.bool_deleted = 0 AND t2.bool_deleted = AND t3.rel_bureau_type = #{param1} AND t1.id = #{param2}
    </select>

</mapper>
