<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.RelBureauFileMapper">

    <resultMap type="com.lgyun.system.user.vo.RelBureauFileUpdateDetailVO" id="relBureauFileUpdateDetailVO">
        <result property="id" column="id"/>
        <result property="fileTitle" column="file_title"/>
        <result property="fileDesc" column="file_desc"/>
        <result property="fileUrl" column="file_url"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactWechat" column="contact_wechat"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.RelBureauFileListVO" id="relBureauFileListVO">
        <result property="id" column="id"/>
        <result property="fileTitle" column="file_title"/>
        <result property="fileDesc" column="file_desc"/>
        <result property="fileState" column="file_state"/>
        <result property="publishDatetime" column="publish_datetime"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

     <resultMap type="com.lgyun.system.user.vo.RelBureauFileDetailVO" id="relBureauFileDetailVO">
        <result property="id" column="id"/>
        <result property="fileTitle" column="file_title"/>
        <result property="fileDesc" column="file_desc"/>
        <result property="fileUrl" column="file_url"/>
        <result property="fileState" column="file_state"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactWechat" column="contact_wechat"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryRelBureauFileUpdateDetail" resultMap="relBureauFileUpdateDetailVO">
        SELECT id, file_title, file_desc, file_url, contact_person, contact_phone, contact_wechat FROM diyi_rel_bureau_file
        WHERE bool_deleted = 0 AND id = #{param1}
    </select>

    <select id="queryRelBureauFileList" resultMap="relBureauFileListVO">
        SELECT t1.id, t1.file_title, t1.file_desc, t1.file_state, t1.publish_datetime, t1.create_time FROM diyi_rel_bureau_file t1 WHERE t1.bool_deleted = 0
        AND t1.rel_bureau_id = #{param1}
        <if test="param2 == null or param2 == false">
            AND (t1.notice_state = 'PUBLISHED' OR t1.notice_state = 'HAVEREAD')
        </if>
        <if test="param3.title != null and param3.title.trim() != ''">
            AND t1.notice_title LIKE concat('%', #{param3.title}, '%')
        </if>
        <if test="param3.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param3.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param3.endDate != null">
            AND DATEDIFF(t1.create_time, #{param3.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryRelBureauFileDetail" resultMap="relBureauFileDetailVO">
        SELECT id, file_title, file_desc, file_url, file_state, contact_person, contact_phone, contact_wechat, create_time FROM diyi_rel_bureau_file
        WHERE bool_deleted = 0 AND id = #{param1}
    </select>

</mapper>
