<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.RelBureauMapper">

    <resultMap id="RelBureauVOResultMap" type="com.lgyun.system.user.vo.admin.RelBureauVO">
        <id column="id" property="bureauId"/>
        <result column="rel_bureau_name" property="relBureauName"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="tel_phone_no" property="telPhoneNo"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="QueryRelBureau" resultMap="RelBureauVOResultMap">
        SELECT id,
        rel_bureau_name,
        contact_person,
        tel_phone_no,
        create_time
        FROM diyi_rel_bureau
        <where>
            is_deleted = 0
            AND bureau_type = #{bureauType}
            <if test="query.bureauId != null and query.bureauId != ''">
                AND id = #{query.bureauId}
            </if>
            <if test="query.relBureauName != null and query.relBureauName != ''">
                AND rel_bureau_name LIKE CONSCT('%',#{query.relBureauName},'%')
            </if>
            <if test="query.beginDate != null">
                AND DATEDIFF(create_time,#{query.beginDate}) &gt;= 0
            </if>
            <if test="query.endDate != null">
                AND DATEDIFF(create_time,#{query.endDate}) &lt;= 0
            </if>
        </where>
    </select>
</mapper>
