<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.RelBureauMapper">

    <resultMap type="com.lgyun.system.user.vo.RelBureauListVO" id="relBureauListVO">
        <result property="id" column="id"/>
        <result property="relBureauName" column="rel_bureau_name"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="relBureauState" column="rel_bureau_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.RelBureauUpdateDetailVO" id="relBureauUpdateDetailVO">
        <result property="id" column="id"/>
        <result property="relBureauType" column="rel_bureau_type"/>
        <result property="relBureauName" column="rel_bureau_name"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="detailedAddress" column="detailed_address"/>
        <result property="relBureauWebsite" column="rel_bureau_website"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPosition" column="contact_position"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactMail" column="contact_mail"/>
        <result property="contactWechat" column="contact_wechat"/>
        <result property="directorName" column="director_name"/>
        <result property="directorPhone" column="director_phone"/>
        <result property="viceDirectorName" column="vice_director_name"/>
        <result property="viceDirectorPhone" column="vice_director_phone"/>
        <result property="relBureauUserName" column="rel_bureau_user_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.RelBureauInfoVO" id="relBureauInfoVO">
        <result property="id" column="id"/>
        <result property="relBureauType" column="rel_bureau_type"/>
        <result property="avatar" column="avatar"/>
        <result property="relBureauName" column="rel_bureau_name"/>
    </resultMap>

    <select id="queryRelBureauList" resultMap="relBureauListVO">
        SELECT id, rel_bureau_name, contact_name, contact_phone, rel_bureau_state, create_time FROM diyi_rel_bureau WHERE is_deleted = 0
        AND rel_bureau_type = #{param1}
        <if test="param2.relBureauName != null and param2.relBureauName.trim() != ''">
            AND rel_bureau_name LIKE concat('%', #{param2.relBureauName}, '%')
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>

    </select>

    <select id="queryRelBureauUpdateDetail" resultMap="relBureauUpdateDetailVO">
        SELECT id, rel_bureau_type, rel_bureau_name, province, city, area, detailed_address, rel_bureau_website, contact_name, contact_position, contact_phone,
        contact_mail, contact_wechat, director_name, director_phone, vice_director_name, vice_director_phone, rel_bureau_user_name FROM diyi_rel_bureau
        WHERE is_deleted = 0 AND id = #{param1}
    </select>

    <select id="queryRelBureauInfo" resultMap="relBureauInfoVO">
        SELECT id, rel_bureau_type, avatar, rel_bureau_name FROM diyi_rel_bureau WHERE is_deleted = 0 AND id = #{param1}
    </select>

</mapper>
