<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.ServiceProviderCertMapper">

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderCertListVO" id="serviceProviderCertListVO">
        <result property="id" column="id"/>
        <result property="certificateType" column="certificate_type"/>
        <result property="certificateName" column="certificate_name"/>
        <result property="certificateDesc" column="certificate_desc"/>
        <result property="certificateMainUrl" column="certificate_main_url"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderCertUpdateDetailVO" id="serviceProviderCertUpdateDetailVO">
        <result property="id" column="id"/>
        <result property="certificateType" column="certificate_type"/>
        <result property="certificateName" column="certificate_name"/>
        <result property="certificateDesc" column="certificate_desc"/>
        <result property="certificateMainUrl" column="certificate_main_url"/>
    </resultMap>

    <select id="queryServiceProviderCertList" resultMap="serviceProviderCertListVO">
        SELECT id, certificate_type, certificate_name, certificate_desc, certificate_main_url
        FROM diyi_service_provider_cert WHERE is_deleted = 0 AND service_provider_id = #{param1}
    </select>

    <select id="queryServiceProviderCertUpdateDetail" resultMap="serviceProviderCertUpdateDetailVO">
        SELECT id, certificate_type, certificate_name, certificate_desc, certificate_main_url
        FROM diyi_service_provider_cert WHERE is_deleted = 0 AND id = #{param1}
    </select>

</mapper>
