<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.ServiceProviderMapper">

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderBankCardVO" id="serviceProviderBankCardVO">
        <result property="invoiceAccount" column="invoice_account"/>
        <result property="invoiceBankName" column="invoice_bank_name"/>
        <result property="invoiceAccountName" column="invoice_account_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderContactPersonVO" id="serviceProviderContactPersonVO">
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderInvoiceVO" id="serviceProviderInvoiceVO">
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddress" column="invoice_address"/>
        <result property="invoiceTelNo" column="invoice_tel_no"/>
        <result property="invoiceBankName" column="invoice_bank_name"/>
        <result property="invoiceAccountName" column="invoice_account_name"/>
        <result property="invoiceAccount" column="invoice_account"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderListVO" id="serviceProviderListVO">
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="joinContract" column="join_contract"/>
        <result property="commitmentLetter" column="commitment_letter"/>
        <result property="serviceProviderState" column="service_provider_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderDetailServiceProviderVO" id="serviceProviderDetailServiceProviderVO">
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdCard" column="legal_person_idcard"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="serviceProviderUrl" column="service_provider_url"/>
        <result property="inviteNo" column="invite_no"/>
        <result property="joinContract" column="join_contract"/>
        <result property="commitmentLetter" column="commitment_letter"/>
        <result property="businessPattern" column="business_pattern"/>
        <result property="servicePrice" column="service_price"/>
        <result property="salerId" column="saler_id"/>
        <result property="runnerId" column="runner_id"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddress" column="invoice_address"/>
        <result property="invoiceTelNo" column="invoice_tel_no"/>
        <result property="invoiceBankName" column="invoice_bank_name"/>
        <result property="invoiceAccountName" column="invoice_account_name"/>
        <result property="invoiceAccount" column="invoice_account"/>
    </resultMap>

    <select id="getBankCard" resultMap="serviceProviderBankCardVO">
        SELECT invoice_account, invoice_account_name, invoice_bank_name FROM diyi_service_provider WHERE is_deleted = 0 AND id = #{param1} LIMIT 1
    </select>

    <select id="getContactPerson" resultMap="serviceProviderContactPersonVO">
        SELECT contact1_name, contact1_position, contact1_phone, contact1_mail, contact2_name, contact2_position, contact2_phone, contact2_mail
        FROM diyi_service_provider WHERE is_deleted = 0 AND id = #{param1} LIMIT 1
    </select>

    <select id="getInvoice" resultMap="serviceProviderInvoiceVO">
        SELECT invoice_enterprise_name, invoice_tax_no, invoice_address, invoice_tel_no, invoice_bank_name, invoice_account_name, invoice_account
        FROM diyi_service_provider WHERE is_deleted = 0 AND id = #{param1} LIMIT 1
    </select>

    <select id="queryServiceProviderListAdmin" resultMap="serviceProviderListVO">
        SELECT t1.id AS service_provider_id, t1.service_provider_name, t1.contact1_name, t1.contact1_phone, t1.service_provider_state, t1.create_time,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL OR paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url) FROM diyi_agreement
        WHERE is_deleted = 0 AND agreement_type = 'SERVICEPROVIDERJOINAGREEMENT' AND sign_state = 'SIGNED' AND service_provider_id = t1.id) AS join_contract,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL OR paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url) FROM diyi_agreement
        WHERE is_deleted = 0 AND agreement_type = 'OTHERAGREEMENT' AND audit_state = 'APPROVED' AND service_provider_id = t1.id) AS commitment_letter
        FROM diyi_service_provider t1 WHERE t1.is_deleted = 0
        <if test="param1.serviceProviderId != null">
            AND t1.id = #{param1.serviceProviderId}
        </if>
        <if test="param1.serviceProviderName != null and param1.serviceProviderName.trim() != ''">
            AND t1.service_provider_name LIKE concat('%', #{param1.serviceProviderName}, '%')
        </if>
        <if test="param1.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param1.endDate != null">
            AND DATEDIFF(t1.create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryServiceProviderDetailServiceProvider" resultMap="serviceProviderDetailServiceProviderVO">
        SELECT t1.id AS service_provider_id, t1.service_provider_name, t1.legal_person_name, t1.legal_person_idcard, t1.social_credit_no, t1.biz_licence_url,
        t1.service_provider_url, t1.business_pattern, t1.service_price, t1.saler_id, t1.runner_id, t1.contact1_name, t1.contact1_position,
        t1.contact1_phone, t1.contact1_mail, t1.contact2_name, t1.contact2_position, t1.contact2_phone, t1.contact2_mail, t1.invoice_enterprise_name,
        t1.invoice_tax_no, t1.invoice_address, t1.invoice_tel_no, t1.invoice_bank_name, t1.invoice_account_name, t1.invoice_account,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url)
        FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'SERVICEPROVIDERJOINAGREEMENT' AND sign_state = 'SIGNED' AND service_provider_id = t1.id) AS join_contract,
        (SELECT IF(paper_agreement_url <![CDATA[ <> ]]> NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url) FROM diyi_agreement
        WHERE is_deleted = 0 AND agreement_type = 'OTHERAGREEMENT' AND audit_state = 'APPROVED' AND service_provider_id = t1.id) AS commitment_letter FROM diyi_service_provider t1
        WHERE t1.is_deleted = 0 AND t1.id = #{param1}
    </select>

</mapper>
