<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.user.mapper.ServiceProviderMapper">

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderContactPersonVO" id="serviceProviderContactPersonVO">
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.InvoiceVO" id="serviceProviderInvoiceVO">
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddressPhone" column="invoice_address_phone"/>
        <result property="invoiceBankNameAccount" column="invoice_bank_name_account"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderListAdminVO" id="serviceProviderListAdminVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="joinContract" column="join_contract"/>
        <result property="serviceProviderState" column="service_provider_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderUpdateDetailVO" id="serviceProviderUpdateDetailVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdcard" column="legal_person_idcard"/>
        <result property="socialCreditNo" column="social_credit_no"/>
        <result property="bizLicenceUrl" column="biz_licence_url"/>
        <result property="serviceProviderUrl" column="service_provider_url"/>
        <result property="joinContract" column="join_contract"/>
        <result property="contact1Name" column="contact1_name"/>
        <result property="contact1Position" column="contact1_position"/>
        <result property="contact1Phone" column="contact1_phone"/>
        <result property="contact1Mail" column="contact1_mail"/>
        <result property="contact2Name" column="contact2_name"/>
        <result property="contact2Position" column="contact2_position"/>
        <result property="contact2Phone" column="contact2_phone"/>
        <result property="contact2Mail" column="contact2_mail"/>
        <result property="invoiceEnterpriseName" column="invoice_enterprise_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="invoiceAddressPhone" column="invoice_address_phone"/>
        <result property="invoiceBankNameAccount" column="invoice_bank_name_account"/>
        <result property="employeeUserName" column="employee_user_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="workerName" column="worker_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderListPaymentVO" id="serviceProviderListPaymentVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="boolSignContract" column="bool_sign_contract"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.ServiceProviderIdNameListVO" id="serviceProviderIdNameListVO">
        <result property="id" column="id"/>
        <result property="serviceProviderName" column="service_provider_name"/>
    </resultMap>

    <select id="getContactPerson" resultMap="serviceProviderContactPersonVO">
        SELECT contact1_name, contact1_position, contact1_phone, contact1_mail, contact2_name, contact2_position, contact2_phone, contact2_mail
        FROM diyi_service_provider WHERE is_deleted = 0 AND id = #{param1} LIMIT 1
    </select>

    <select id="getInvoice" resultMap="serviceProviderInvoiceVO">
        SELECT invoice_enterprise_name, invoice_tax_no, invoice_address_phone, invoice_bank_name_account FROM diyi_service_provider WHERE is_deleted = 0
        AND id = #{param1} LIMIT 1
    </select>

    <select id="queryServiceProviderListAdmin" resultMap="serviceProviderListAdminVO">
        SELECT t1.id, t1.service_provider_name, t1.contact1_name, t1.contact1_phone, t1.service_provider_state, t1.create_time,
        (SELECT IF(paper_agreement_url IS NOT NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url) FROM diyi_agreement
        WHERE is_deleted = 0 AND agreement_type = 'SERVICEPROVIDERJOINAGREEMENT' AND sign_state = 'SIGNED' AND audit_state = 'APPROVED' AND service_provider_id = t1.id) AS join_contract
        FROM diyi_service_provider t1 WHERE t1.is_deleted = 0
        <if test="param1.serviceProviderName != null and param1.serviceProviderName.trim() != ''">
            AND t1.service_provider_name LIKE concat('%', #{param1.serviceProviderName}, '%')
        </if>
        <if test="param1.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param1.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param1.endDate != null">
            AND DATEDIFF(t1.create_time, #{param1.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryServiceProviderUpdateDetail" resultMap="serviceProviderUpdateDetailVO">
        SELECT t1.id, t1.service_provider_name, t1.legal_person_name, t1.legal_person_idcard, t1.social_credit_no, t1.biz_licence_url, t1.service_provider_url,
        t1.contact1_name, t1.contact1_position, t1.contact1_phone, t1.contact1_mail, t1.contact2_name, t1.contact2_position,
        t1.contact2_phone, t1.contact2_mail, t1.invoice_enterprise_name, t1.invoice_tax_no, t1.invoice_address_phone, t1.invoice_bank_name_account, t2.employee_user_name,
        t2.phone_number, t2.worker_name, (SELECT IF(paper_agreement_url IS NOT NULL AND paper_agreement_url <![CDATA[ <> ]]> '', paper_agreement_url, online_agreement_url)
        FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'SERVICEPROVIDERJOINAGREEMENT' AND sign_state = 'SIGNED' AND audit_state = 'APPROVED'
        AND service_provider_id = t1.id) AS join_contract FROM diyi_service_provider t1 INNER JOIN diyi_service_provider_worker t2
        ON t1.id = t2.service_provider_id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.up_level_id IS NULL AND t1.id = #{param1}
    </select>

    <select id="queryServiceProviderListPayment" resultMap="serviceProviderListPaymentVO">
        SELECT t1.id, t1.service_provider_name, IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND agreement_type = 'SERVICEPROVIDERJOINAGREEMENT'
        AND sign_state = 'SIGNED' AND audit_state = 'APPROVED' AND enterprise_id = t1.id) > 0, TRUE, FALSE) AS bool_sign_contract FROM diyi_service_provider t1 WHERE is_deleted = 0
        <if test="param1 != null and param1.trim() != ''">
            AND t1.service_provider_name LIKE concat('%', #{param1}, '%')
        </if>
    </select>

    <select id="queryServiceProviderIdAndNameList" resultMap="serviceProviderIdNameListVO">
        SELECT t1.id, t1.service_provider_name FROM diyi_service_provider t1
        <if test="param1 != null">
            INNER JOIN diyi_enterprise_service_provider t2 ON t1.id = t2.service_provider_id
        </if>
        WHERE t1.is_deleted = 0
        <if test="param1 != null">
            AND t2.is_deleted = 0 AND t2.cooperate_status = 'COOPERATING' AND t2.enterprise_id = #{param1}
        </if>
        <if test="param2 != null and param2.trim() != ''">
            AND t1.service_provider_name LIKE concat('%', #{param2}, '%')
        </if>
    </select>

</mapper>
