package ${package}.${moduleName}.controller;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import com.github.xiaoymin.knife4j.annotations.ApiOperationSupport;
import io.swagger.annotations.ApiParam;
import lombok.AllArgsConstructor;
import javax.validation.Valid;
import com.lgyun.core.mp.support.Condition;
import com.lgyun.core.mp.support.Query;
import com.lgyun.common.api.R;
import com.lgyun.common.tool.Func;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.bind.annotation.RequestParam;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${package}.${moduleName}.vo.${className}VO;
import ${package}.${moduleName}.wrapper.${className}Wrapper;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import java.util.List;

/**
 * ${comments}控制器
 *
 * @author ${author}
 * @since ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
@Validated
@RequiredArgsConstructor(onConstructor_ = @Autowired)
@Api(value = "${comments}相关接口", tags = "${comments}相关接口")
public class ${className}Controller {
	private Logger logger = LoggerFactory.getLogger(${className}Controller.class);

	private final I${className}Service ${classname}Service;

	@PostMapping("/save")
	@ApiOperation(value = "新增", notes = "新增")
	public R save(@Valid @RequestBody ${className}Entity ${classname}) {
		return R.status(${classname}Service.save(${classname}));
	}

	@PostMapping("/update")
	@ApiOperation(value = "修改", notes = "修改")
	public R update(@Valid @RequestBody ${className}Entity ${classname}) {
		return R.status(${classname}Service.updateById(${classname}));
	}

	@GetMapping("/detail")
	@ApiOperation(value = "详情", notes = "详情")
	public R<${className}VO> detail(${className}Entity ${classname}) {
		${className}Entity detail = ${classname}Service.getOne(Condition.getQueryWrapper(${classname}));
		return R.data(${className}Wrapper.build().entityVO(detail));
	}

	@GetMapping("/list")
	@ApiOperation(value = "分页", notes = "分页")
	public R<IPage<${className}VO>> list(${className}Entity ${classname}, Query query) {
		IPage<${className}Entity> pages = ${classname}Service.page(Condition.getPage(query), Condition.getQueryWrapper(${classname}));
		return R.data(${className}Wrapper.build().pageVO(pages));
	}

	@PostMapping("/remove")
	@ApiOperation(value = "删除", notes = "删除")
	public R remove(@ApiParam(value = "主键集合", required = true) @RequestParam String ids) {
		return R.status(${classname}Service.removeByIds(Func.toLongList(ids)));
	}

}
