package ${package}.${moduleName}.service.impl;

import lombok.AllArgsConstructor;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import lombok.RequiredArgsConstructor;
import org.springframework.beans.factory.annotation.Autowired;
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.I${className}Service;

/**
 * ${comments} Service 实现
 *
 * @author ${author}
 * @since ${datetime}
 */
@Slf4j
@Service
@AllArgsConstructor
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}Entity> implements I${className}Service {

}
