package ${package}.${moduleName}.service;

import com.lgyun.core.mp.base.BaseService;
import ${package}.${moduleName}.entity.${className}Entity;

/**
 * ${comments} Service 接口
 *
 * @author ${author}
 * @since ${datetime}
 */
public interface I${className}Service extends BaseService<${className}Entity> {

}

