package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;

import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.I${className}Service;

/**
 * ${comments} Service 实现
 *
 * @author ${author}
 * @since ${datetime}
 */
@Service
@RequiredArgsConstructor(onConstructor_ = @Autowired)
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}Entity> implements I${className}Service {

}
