<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.AcceptPaysheetMapper">

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetAndCsListMakerVO" id="acceptPaysheetAndCsListMakerVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="payAmount" column="pay_amount"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetDetailMakerVO" id="acceptPaysheetDetailVO">
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="payToPlatformAmount" column="pay_to_platform_amount"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
        <result property="worksheetName" column="worksheet_name"/>
        <result property="worksheetType" column="worksheet_type"/>
        <result property="worksheetMode" column="worksheet_mode"/>
        <result property="createTime2" column="create_time2"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="checkMoney" column="check_money"/>
        <result property="achievementDesc" column="achievement_desc"/>
        <result property="achievementFiles" column="achievement_files"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetListEnterpriseVO" id="acceptPaysheetAndCsListEnterpriseVO">
        <result property="id" column="id"/>
        <result property="payEnterpriseId" column="pay_enterprise_id"/>
        <result property="payMakerId" column="pay_maker_id"/>
        <result property="chargeListUrl" column="charge_list_url"/>
        <result property="names" column="names"/>
        <result property="worksheetId" column="worksheet_id"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetDetailEnterpriseVO" id="acceptPaysheetDetailEnterpriseVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="worksheetId" column="worksheet_id"/>
        <result property="chargeListUrl" column="charge_list_url"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetSingleListEnterpriseVO" id="acceptPaysheetSingleListEnterpriseVO">
        <result property="id" column="id"/>
        <result property="chargeListUrl" column="charge_list_url"/>
        <result property="name" column="name"/>
        <result property="worksheetId" column="worksheet_id"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.PayEnterpriseMakerDetailListVO" id="payEnterpriseMakerDetailListVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="boolRealNameVerify" column="bool_real_name_verify"/>
        <result property="boolSign" column="bool_sign"/>
        <result property="boolAchievement" column="bool_achievement"/>
        <result property="checkMoney" column="check_money"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
    </resultMap>

    <select id="queryTotalSubAcceptPaysheetListMaker" resultMap="acceptPaysheetAndCsListMakerVO">
        SELECT t1.id, t3.enterprise_name, t2.pay_to_platform_amount AS pay_amount, t1.service_time_start, t1.service_time_end FROM diyi_accept_paysheet t1
        INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id WHERE t1.is_deleted = 0
        AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t3.id = #{param1} AND ((t1.accept_paysheet_type = 'MANY') OR (t1.accept_paysheet_type = 'SINGLE' AND
        (SELECT t4.maker_id FROM diyi_pay_maker t4 WHERE t4.is_deleted = 0 AND t1.pay_maker_id = t4.id) = #{param2}))
    </select>

    <select id="queryTotalSubAcceptPaysheetDetailMaker" resultMap="acceptPaysheetDetailVO">
        SELECT t3.enterprise_name, t2.pay_to_platform_amount, t1.service_time_start, t1.service_time_end, IF(t1.accept_paysheet_type = 'SINGLE' AND t4.maker_id = #{param1},
        t1.accept_paysheet_url, NULL) AS accept_paysheet_url, t5.worksheet_name, t5.worksheet_type, t5.worksheet_mode, t5.create_time, t5.worksheet_no, t6.check_money,
        t6.achievement_desc, t6.achievement_files FROM diyi_accept_paysheet t1 INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id
        INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id LEFT JOIN diyi_pay_maker t4 ON t1.pay_maker_id = t4.id AND t4.is_deleted = 0 LEFT JOIN diyi_worksheet t5
        ON t2.worksheet_id = t5.id AND t5.is_deleted = 0 LEFT JOIN diyi_worksheet_maker t6 ON t5.id = t6.worksheet_id AND t4.maker_id = t6.maker_id AND t6.is_deleted = 0
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t1.id = #{param2}
    </select>

    <select id="queryTotalSubAcceptPaysheetListEnterprise" resultMap="acceptPaysheetAndCsListEnterpriseVO">
        SELECT * FROM (SELECT t1.id, t1.pay_enterprise_id, t1.pay_maker_id, t2.charge_list_url, t1.service_time_start, t1.service_time_end, t2.worksheet_id,
        t1.accept_paysheet_url, t1.create_time, (SELECT GROUP_CONCAT(t4.name) FROM diyi_pay_maker t3 INNER JOIN diyi_maker t4 ON t3.maker_id = t4.id
        WHERE t3.is_deleted = 0 AND t4.is_deleted = 0 AND IF(t1.accept_paysheet_type = 'SINGLE', t3.id = t1.pay_maker_id, t3.id IN (SELECT pay_maker_id
        FROM diyi_accept_paysheet WHERE is_deleted = 0 AND pay_enterprise_id = t1.pay_enterprise_id))) AS names FROM diyi_accept_paysheet t1
        INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0
        AND t2.enterprise_id = #{param1}) temp WHERE 1=1
        <if test="param2.name != null and param2.name.trim() != ''">
            AND temp.names LIKE concat('%', #{param2.name}, '%')
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(temp.create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(temp.create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryTotalSubAcceptPaysheetDetailEnterprise" resultMap="acceptPaysheetDetailEnterpriseVO">
        SELECT t1.id, t3.enterprise_name, t4.service_provider_name, t1.service_time_start, t1.service_time_end, t2.worksheet_id, t2.charge_list_url,
        t1.accept_paysheet_url, t1.create_time FROM diyi_accept_paysheet t1 INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id INNER JOIN
        diyi_enterprise t3 ON t2.enterprise_id = t3.id INNER JOIN diyi_service_provider t4 ON t2.service_provider_id = t4.id WHERE t1.is_deleted = 0
        AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t1.id = #{param1}
    </select>

    <select id="queryTotalSubAcceptPaysheetSingleList" resultMap="acceptPaysheetSingleListEnterpriseVO">
        SELECT t1.id, t2.charge_list_url, t4.name, t2.worksheet_id, t1.service_time_start, t1.service_time_end, t1.accept_paysheet_url, t1.create_time
        FROM diyi_accept_paysheet t1 INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id INNER JOIN diyi_pay_maker t3 ON t1.pay_maker_id = t3.id
        INNER JOIN diyi_maker t4 ON t3.maker_id = t4.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0
        AND t1.accept_paysheet_type = 'SINGLE' AND t1.pay_enterprise_id = #{param1}
        <if test="param2 != null">
            AND t1.pay_maker_id = #{param2}
        </if>
    </select>

    <select id="getMakerList" resultMap="payEnterpriseMakerDetailListVO">
        SELECT t4.id, t4.name, t4.idcard_no, t4.phone_number, t4.bank_card_no, IF(t4.bank_card_verify_status = 'VERIFYPASS', TRUE, FALSE) AS bool_real_name_verify,
        IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t4.id AND sign_state = 'SIGNED' AND audit_state = 'APPROVED' AND agreement_type = 'MAKERJOINAGREEMENT') > 0
        AND (SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t4.id AND sign_state = 'SIGNED' AND audit_state = 'APPROVED' AND agreement_type = 'MAKERPOWERATTORNEY') > 0, TRUE, FALSE) AS bool_sign,
        IF(t3.achievement_files = '', FALSE, TRUE) AS boolAchievement, t3.check_money, IFNULL((SELECT accept_paysheet_url FROM diyi_accept_paysheet WHERE is_deleted = 0
        AND pay_enterprise_id = t1.pay_enterprise_id AND maker_id = t3.maker_id AND accept_paysheet_type = 'SINGLE'), (SELECT accept_paysheet_url FROM diyi_accept_paysheet
        WHERE is_deleted = 0 AND pay_enterprise_id = t1.pay_enterprise_id AND accept_paysheet_type = 'MANY')) AS accept_paysheet_url FROM diyi_accept_paysheet t1
        INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id INNER JOIN diyi_worksheet_maker t3 ON t2.worksheet_id = t3.worksheet_id INNER JOIN diyi_maker t4 ON t3.maker_id = t4.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t1.id = #{param1}
    </select>

</mapper>
