<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.AcceptPaysheetMapper">

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetByEnterpriseListVO" id="acceptPaysheetByEnterpriseListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="payToPlatformAmount" column="pay_to_platform_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="closeWorksheetDate" column="close_worksheet_date"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetWorksheetVO" id="acceptPaysheetWorksheetVO">
        <result property="acceptPaysheetType" column="accept_paysheet_type"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="payToPlatformAmount" column="pay_to_platform_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="closeWorksheetDate" column="close_worksheet_date"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
        <result property="worksheetName" column="worksheet_name"/>
        <result property="worksheetType" column="worksheet_type"/>
        <result property="worksheetMode" column="worksheet_mode"/>
        <result property="createTime2" column="create_time2"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="checkMoney" column="check_money"/>
        <result property="achievementDesc" column="achievement_desc"/>
        <result property="achievementFiles" column="achievement_files"/>
    </resultMap>

    <resultMap type="com.lgyun.system.user.vo.EnterprisesIdNameListVO" id="acceptPaysheetEnterpriseVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPayListVO" id="acceptPayListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="chargeListUrl" column="charge_list_url"/>
        <result property="makerNames" column="maker_names"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.PayEnterpriseMakerDetailListVO" id="payEnterpriseMakerDetailListVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="boolRealNameVerify" column="bool_real_name_verify"/>
        <result property="boolSign" column="bool_sign"/>
        <result property="boolAchievement" column="bool_achievement"/>
        <result property="checkMoney" column="check_money"/>
        <result property="acceptPaysheetUrl" column="accept_paysheet_url"/>
    </resultMap>

    <select id="getAcceptPaysheetsByEnterprise" resultMap="acceptPaysheetByEnterpriseListVO">
        SELECT t1.id, t3.enterprise_name, t2.pay_to_platform_amount, t4.create_time, t4.close_worksheet_date
        FROM diyi_accept_paysheet t1 INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id
        INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id LEFT JOIN diyi_worksheet t4 ON t2.worksheet_id = t4.id AND t4.is_deleted = 0
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t3.id = #{param1}
        AND ((t1.accept_paysheet_type = 'MANY') OR (t1.accept_paysheet_type = 'SINGLE' AND t1.maker_id = #{param2}))
    </select>

    <select id="getAcceptPaysheetWorksheet" resultMap="acceptPaysheetWorksheetVO">
        SELECT t1.accept_paysheet_type, t3.enterprise_name, t2.pay_to_platform_amount, t4.create_time, t4.close_worksheet_date,
        IF ( t1.accept_paysheet_type = 'SINGLE' AND t1.maker_id = #{param1}, t1.accept_paysheet_url, NULL ) AS accept_paysheet_url,
        t4.worksheet_name, t4.worksheet_type, t4.worksheet_mode, t4.create_time AS create_time2, t4.worksheet_no, t5.check_money, t5.achievement_desc,
        t5.achievement_files FROM diyi_accept_paysheet t1 INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id
        INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id LEFT JOIN diyi_worksheet t4 ON t2.worksheet_id = t4.id AND t4.is_deleted = 0
        LEFT JOIN diyi_worksheet_maker t5 ON t4.id = t5.worksheet_id AND t5.is_deleted = 0 WHERE t1.is_deleted = 0 AND t2.is_deleted = 0
        AND t3.is_deleted = 0 AND t1.id = #{param2}
    </select>

    <select id="getEnterprisesByWorksheet" resultMap="acceptPaysheetEnterpriseVO">
        SELECT t1.id, t1.enterprise_name FROM diyi_enterprise t1 INNER JOIN diyi_worksheet t2 ON t1.id = t2.enterprise_id
        INNER JOIN diyi_worksheet_maker t3 ON t2.id = t3.worksheet_id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0
        AND t2.worksheet_state = 'FINISHED' AND t3.worksheet_maker_state = 'VALIDATION' AND t3.maker_id = #{param1}
    </select>

    <select id="getAcceptPaySheetsByEnterprise" resultMap="acceptPayListVO">
        SELECT * FROM (SELECT t3.id, t4.charge_list_url, t5.enterprise_name, t6.service_provider_name, t3.service_time_start, t3.service_time_end, t7.worksheet_no, t3.accept_paysheet_url, t3.create_time,
        IF(t3.accept_paysheet_type = 'SINGLE', (SELECT name FROM diyi_maker WHERE is_deleted = 0 AND id = t3.maker_id), (SELECT GROUP_CONCAT(t2.name)
        FROM diyi_worksheet_maker t1 INNER JOIN diyi_maker t2 ON t1.maker_id = t2.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t1.worksheet_id = t4.worksheet_id)) AS maker_names
        FROM diyi_accept_paysheet t3 INNER JOIN diyi_pay_enterprise t4 ON t3.pay_enterprise_id = t4.id INNER JOIN diyi_enterprise t5 ON t4.enterprise_id = t5.id
        INNER JOIN diyi_service_provider t6 ON t4.service_provider_id = t6.id LEFT JOIN diyi_worksheet t7 ON t4.worksheet_id = t7.id AND t7.is_deleted = 0
        WHERE t3.is_deleted = 0 AND t4.is_deleted = 0 AND t5.is_deleted = 0 AND t6.is_deleted = 0
        <if test="param2.acceptPayId != null">
            AND t3.id = #{param2.acceptPayId}
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(t1.create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>
        AND t4.enterprise_id = #{param1}) temp WHERE 1=1
        <if test="param2.makerName != null and param2.makerName.trim() != ''">
            AND temp.maker_names like concat('%', #{param2.makerName}, '%')
        </if>
    </select>

    <select id="getMakerList" resultMap="payEnterpriseMakerDetailListVO">
        SELECT t4.id, t4.name, t4.idcard_no, t4.phone_number, t4.bank_card_no, IF(t4.bank_card_verify_status = 'VERIFYPASS', TRUE, FALSE) AS bool_real_name_verify,
        IF((SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t4.id AND sign_state = 'SIGNED' AND agreement_type = 1) > 0
        AND (SELECT COUNT(id) FROM diyi_agreement WHERE is_deleted = 0 AND maker_id = t4.id AND sign_state = 'SIGNED' AND agreement_type = 9) > 0, TRUE, FALSE) AS bool_sign,
        IF(t3.achievement_files = '', FALSE, TRUE) AS boolAchievement, t3.check_money, IFNULL((SELECT accept_paysheet_url FROM diyi_accept_paysheet WHERE is_deleted = 0
        AND pay_enterprise_id = t1.pay_enterprise_id AND maker_id = t3.maker_id AND accept_paysheet_type = 'SINGLE'), (SELECT accept_paysheet_url FROM diyi_accept_paysheet
        WHERE is_deleted = 0 AND pay_enterprise_id = t1.pay_enterprise_id AND accept_paysheet_type = 'MANY')) AS accept_paysheet_url FROM diyi_accept_paysheet t1
        INNER JOIN diyi_pay_enterprise t2 ON t1.pay_enterprise_id = t2.id INNER JOIN diyi_worksheet_maker t3 ON t2.worksheet_id = t3.worksheet_id INNER JOIN diyi_maker t4 ON t3.maker_id = t4.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t1.id = #{param1}
    </select>

</mapper>
