<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.AcceptPaysheetCsMapper">

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetAndCsListMakerVO" id="acceptPaysheetAndCsListMakerVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="payAmount" column="pay_amount"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetCsDetailMakerVO" id="acceptPaysheetCsDetailVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="acceptPaysheetCsUrl" column="accept_paysheet_cs_url"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetCsListEnterpriseVO" id="acceptPaysheetCsListEnterpriseVO">
        <result property="id" column="id"/>
        <result property="listFile" column="list_file"/>
        <result property="names" column="names"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="acceptPaysheetCsUrl" column="accept_paysheet_cs_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AcceptPaysheetCsDetailEnterpriseVO" id="acceptPaysheetCsDetailEnterpriseVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="serviceTimeStart" column="service_time_start"/>
        <result property="serviceTimeEnd" column="service_time_end"/>
        <result property="listFile" column="list_file"/>
        <result property="acceptPaysheetCsUrl" column="accept_paysheet_cs_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryCrowdAcceptPaysheetListMaker" resultMap="acceptPaysheetAndCsListMakerVO">
        SELECT t1.id, t3.enterprise_name, t4.charge_money_num AS pay_amount, t1.service_time_start, t1.service_time_end FROM diyi_accept_paysheet_cs t1 INNER JOIN diyi_self_help_invoice t2
        ON t1.self_help_invoice_id = t2.id INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id INNER JOIN diyi_self_help_invoice_detail t4 ON t2.id = t4.self_help_invoice_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t2.enterprise_id = #{param1} AND t4.maker_id = #{param2}
        AND IF(t1.accept_paysheet_cs_type = 'SINGLE', EXISTS(SELECT id FROM diyi_accept_paysheet_cs WHERE is_deleted = 0 AND self_help_invoice_detail_id = t4.id),
        EXISTS(SELECT id FROM diyi_accept_paysheet_cs_list WHERE is_deleted = 0 AND accept_paysheet_cs_id = t1.id AND self_help_invoice_detail_id = t4.id))
    </select>

    <select id="queryCrowdAcceptPaysheetDetailMaker" resultMap="acceptPaysheetCsDetailVO">
        SELECT t4.id, t3.enterprise_name, t4.charge_money_num, t1.service_time_start, t1.service_time_end, IF(t1.accept_paysheet_cs_type = 'SINGLE',
        t1.accept_paysheet_cs_url, NULL) AS accept_paysheet_cs_url FROM diyi_accept_paysheet_cs t1 INNER JOIN diyi_self_help_invoice t2 ON t1.self_help_invoice_id = t2.id
        INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id INNER JOIN diyi_self_help_invoice_detail t4 ON t4.self_help_invoice_id = t1.self_help_invoice_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t4.maker_id = #{param1} AND t1.id = #{param2}
		AND IF(t1.accept_paysheet_cs_type = 'SINGLE', EXISTS(SELECT id FROM diyi_accept_paysheet_cs WHERE is_deleted = 0 AND self_help_invoice_detail_id = t4.id),
		EXISTS(SELECT id FROM diyi_accept_paysheet_cs_list WHERE is_deleted = 0 AND accept_paysheet_cs_id = t1.id AND self_help_invoice_detail_id = t4.id))
    </select>

    <select id="queryCrowdAcceptPaysheetListEnterprise" resultMap="acceptPaysheetCsListEnterpriseVO">
        SELECT * FROM (SELECT t1.id, t2.list_file, t1.service_time_start, t1.service_time_end, t1.accept_paysheet_cs_url, t1.create_time,
        IF(t1.accept_paysheet_cs_type = 'SINGLE', (SELECT IFNULL(t4.name, t3.invoice_people_name) FROM diyi_self_help_invoice_detail t3
        LEFT JOIN diyi_maker t4 ON t3.maker_id = t4.id AND t4.is_deleted = 0 WHERE t3.is_deleted = 0 AND t3.id = t1.self_help_invoice_detail_id),
        (SELECT GROUP_CONCAT(IFNULL(t7.name, t5.invoice_people_name)) FROM diyi_self_help_invoice_detail t5 INNER JOIN diyi_accept_paysheet_cs_list t6
        ON t5.id = t6.self_help_invoice_detail_id LEFT JOIN diyi_maker t7 ON t5.maker_id = t7.id AND t7.is_deleted = 0 WHERE t5.is_deleted = 0 AND t6.is_deleted = 0
        AND t6.accept_paysheet_cs_id = t1.id)) AS names FROM diyi_accept_paysheet_cs t1 INNER JOIN diyi_self_help_invoice t2 ON t1.self_help_invoice_id = t2.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.enterprise_id = #{param1}) temp WHERE 1=1
        <if test="param2.name != null and param2.name.trim() != ''">
            AND temp.names LIKE concat('%', #{param2.name}, '%')
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(temp.create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(temp.create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="queryCrowdAcceptPaysheetDetailEnterprise" resultMap="acceptPaysheetCsDetailEnterpriseVO">
        SELECT t1.id, t3.enterprise_name, t5.service_provider_name, t1.service_time_start, t1.service_time_end, t2.list_file, t1.accept_paysheet_cs_url, t1.create_time
        FROM diyi_accept_paysheet_cs t1 INNER JOIN diyi_self_help_invoice t2 ON t1.self_help_invoice_id = t2.id INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id
        LEFT JOIN diyi_self_help_invoice_sp t4 ON t2.id = t4.self_help_invoice_id AND t4.is_deleted = 0 LEFT JOIN diyi_service_provider t5 ON t4.service_provider_id = t5.id
        AND t5.is_deleted = 0 WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t1.id = #{param1}
    </select>

</mapper>
