<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.EnterpriseProviderInvoiceCatalogsMapper">

    <resultMap id="enterpriseProviderInvoiceCatalogsVO" type="com.lgyun.system.order.vo.EnterpriseProviderInvoiceCatalogsVO">
        <result property="id" column="id"/>
        <result property="invoiceCatalogName" column="invoice_catalog_name"/>
    </resultMap>

    <resultMap id="enterpriseProviderInvoiceCatalogListVO" type="com.lgyun.system.order.vo.EnterpriseProviderInvoiceCatalogListVO">
        <result property="id" column="id"/>
        <result property="invoiceCatalogName" column="invoice_catalog_name"/>
        <result property="setPerson" column="set_person"/>
        <result property="setType" column="set_type"/>
        <result property="invoiceDemand" column="invoice_demand"/>
        <result property="invoiceDemandDesc" column="invoice_demand_desc"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryInvoiceCatalogsList" resultMap="enterpriseProviderInvoiceCatalogsVO">
         SELECT id, invoice_catalog_name FROM diyi_enterprise_provider_invoice_catalogs WHERE is_deleted = 0 AND service_provider_id = #{param1} AND enterprise_id = #{param2}
    </select>

    <select id="queryEnterpriseProviderInvoiceCatalogList" resultMap="enterpriseProviderInvoiceCatalogListVO">
         SELECT id, invoice_catalog_name, set_person, set_type, invoice_demand, invoice_demand_desc, create_time FROM diyi_enterprise_provider_invoice_catalogs
         WHERE is_deleted = 0 AND service_provider_id = #{param1} AND enterprise_id = #{param2}
    </select>

    <select id="queryEnterpriseProviderInvoiceCatalogUpdateDetail" resultMap="enterpriseProviderInvoiceCatalogListVO">
         SELECT id, invoice_catalog_name, set_person, set_type, invoice_demand, invoice_demand_desc, create_time FROM diyi_enterprise_provider_invoice_catalogs
         WHERE is_deleted = 0 AND id = #{param1}
    </select>

</mapper>
