<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.InvoiceApplicationPayListMapper">

    <resultMap id="ApplicationVoMap" type="com.lgyun.system.order.vo.ApplicationVo">
        <result property="applicationId" column="application_id"/>
        <result property="payEnterpriseId" column="pay_enterprise_id"/>
    </resultMap>

    <select id="findApplication" resultMap="ApplicationVoMap">
        SELECT a.id as application_id,l.pay_enterprise_id from diyi_invoice_application a INNER JOIN diyi_invoice_application_pay_list l on l.application_id = a.id where a.is_deleted = 0 and l.is_deleted = 0 and a.application_state != 'REJECTED' and a.application_state != 'CANCELLED' and l.pay_enterprise_id = #{param1}
    </select>
</mapper>
