<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.MakerTaxRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.order.entity.MakerTaxRecordEntity" id="makerTaxRecordMap">
                    <result property="id" column="id"/>
                    <result property="payMakerId" column="pay_maker_id"/>
                    <result property="voiceTypeNo" column="voice_type_no"/>
                    <result property="voiceSerialNo" column="voice_serial_no"/>
                    <result property="makerTaxAmount" column="maker_tax_amount"/>
                    <result property="totalAmount" column="total_amount"/>
                    <result property="salesamount" column="SalesAmount"/>
                    <result property="taxAmount" column="tax_amount"/>
                    <result property="voicePerson" column="voice_person"/>
                    <result property="saleCompany" column="sale_company"/>
                    <result property="helpMakeOrganationName" column="help_make_organation_name"/>
                    <result property="makerTaxUrl" column="maker_tax_url"/>
                    <result property="makerTaxGetDatetime" column="maker_tax_get_datetime"/>
                    <result property="makerTaxUploadDatetime" column="maker_tax_upload_datetime"/>
            </resultMap>

</mapper>
