<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.PayMakerMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.order.entity.PayMakerEntity" id="payMakerMap">
        <result property="id" column="id"/>
        <result property="payEnterpriseId" column="pay_enterprise_id"/>
        <result property="makerId" column="maker_id"/>
        <result property="makerType" column="maker_type"/>
        <result property="individualBusinessName" column="Individual_business_name"/>
        <result property="totalFee" column="total_fee"/>
        <result property="makerNeIncome" column="maker_ne_income"/>
        <result property="serviceRate" column="service_rate"/>
        <result property="makerTaxAndFee" column="maker_tax_and_fee"/>
        <result property="makerNetIncome" column="maker_net_income"/>
        <result property="auditFee" column="audit_fee"/>
        <result property="payFee" column="pay_fee"/>
        <result property="payState" column="pay_state"/>
        <result property="companyApplyDatetime" column="company_apply_datetime"/>
        <result property="companyPayOkDatetime" column="company_pay_ok_datetime"/>
        <result property="platformPayOkDatetime" column="platform_pay_ok_datetime"/>
        <result property="makerConfirmDatetime" column="maker_confirm_datetime"/>
        <result property="makerTaxState" column="maker_tax_state"/>
        <result property="makerInvoiceState" column="maker_invoice_state"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="payMemo" column="pay_memo"/>
        <result property="makerInvoiceCategory" column="maker_invoice_category"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.PayListVO" id="payListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="chargeListUrl" column="charge_list_url"/>
        <result property="enterprisePayReceiptUrls" column="enterprise_pay_receipt_urls"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="acceptPaysheetUrls" column="accept_paysheet_urls"/>
        <result property="makerPayReceiptUrls" column="maker_pay_receipt_urls"/>
        <result property="createTime" column="create_time"/>
        <result property="payToPlatformAmount" column="pay_to_platform_amount"/>
    </resultMap>

    <select id="getByDtoEnterprise" resultMap="payListVO">
        SELECT t1.id, t2.enterprise_name, t3.service_provider_name, t1.charge_list_url, t4.worksheet_no, t1.create_time, t1.pay_to_platform_amount,
        (SELECT group_concat(enterprise_pay_receipt_url) FROM diyi_pay_enterprise_receipt WHERE pay_enterprise_id = t1.id) AS enterprise_pay_receipt_urls,
        (SELECT group_concat(accept_paysheet_url) FROM diyi_accept_paysheet WHERE pay_enterprise_id = t1.id) AS accept_paysheet_urls,
        (SELECT group_concat(maker_pay_receipt_url) FROM diyi_pay_maker_receipt WHERE pay_maker_id = t5.id) AS maker_pay_receipt_urls FROM diyi_pay_enterprise t1
        INNER JOIN diyi_enterprise t2 ON t1.enterprise_id = t2.id INNER JOIN diyi_service_provider t3 ON t1.service_provider_id = t3.id
        LEFT JOIN diyi_worksheet t4 ON t1.worksheet_id = t4.id INNER JOIN diyi_pay_maker t5 ON t1.id = t5.pay_enterprise_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t5.is_deleted =0 AND t1.enterprise_id = #{param1}
        <if test="param2.payEnterpriseId != null">
            AND t1.id = #{param2.payEnterpriseId}
        </if>
        <if test="param2.serviceProviderName != null and param2.serviceProviderName.trim() != ''">
            AND t3.service_provider_name like concat('%', #{param2.serviceProviderName}, '%')
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(t1.create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

</mapper>
