<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.PayMakerReceiptMapper">

    <select id="deleteByPayEnterpriseId">
        DELETE FROM diyi_pay_maker_receipt WHERE pay_maker_id = #{param1}
    </select>

</mapper>
