<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.PaysheetMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.order.entity.PaysheetEntity" id="paysheetMap">
                    <result property="paysheetId" column="paysheet_id"/>
                    <result property="payId" column="pay_id"/>
                    <result property="orderId" column="order_id"/>
                    <result property="makerId" column="maker_id"/>
                    <result property="uploadDateTime" column="upload_date_time"/>
                    <result property="paysheetUploadSource" column="paysheet_upload_source"/>
                    <result property="uploadDatePerson" column="upload_date_person"/>
                    <result property="paysheetUrl" column="paysheet_url"/>
                    <result property="paysheetConfirmDateTime" column="paysheet_confirm_date_time"/>
                    <result property="paysheetConfirmMemo" column="paysheet_confirm_memo"/>
                    <result property="incomeConfirmDate" column="income_confirm_date"/>
                    <result property="incomeConfirmMemo" column="income_confirm_memo"/>
                    <result property="createUser" column="create_user"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateUser" column="update_user"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="status" column="status"/>
                    <result property="isDeleted" column="is_deleted"/>
            </resultMap>

</mapper>
