<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.SelfHelpInvoiceMapper">

    <resultMap id="selfHelpInvoiceDetailsVO" type="com.lgyun.system.order.vo.SelfHelpInvoiceDetailsVO">
        <result property="id" column="id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="addressId" column="address_id"/>
        <result property="invoicePeopleId" column="invoice_people_id"/>
        <result property="selfHelpInvoiceDetailId" column="self_help_invoice_detail_id"/>
        <result property="handPayId" column="hand_pay_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="taxNo" column="invoice_tax_no"/>
        <result property="employeeName" column="shop_user_name"/>
        <result property="phoneNo" column="invoice_tel_no"/>
        <result property="bankName" column="invoice_bank_name"/>
        <result property="bankAccount" column="invoice_account_name"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="deliverSheetUrl" column="deliver_sheet_url"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="addressName" column="address_name"/>
        <result property="addressPhone" column="address_phone"/>
        <result property="area" column="area"/>
        <result property="city" column="city"/>
        <result property="province" column="province"/>
        <result property="detailedAddress" column="detailed_address"/>
        <result property="idCardName" column="id_card_name"/>
        <result property="idCardNo" column="id_card_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="givePriceDate" column="give_price_date"/>
        <result property="totalTaxFee" column="total_tax_fee"/>
        <result property="basicTaxFee" column="basic_tax_fee"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceStatisticsVO" id="selfHelpInvoiceStatisticsVO">
        <result property="num" column="num"/>
        <result property="monthMoney" column="month_money"/>
        <result property="yearMoney" column="year_money"/>
        <result property="allMoney" column="all_money"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceListVO" id="selfHelpInvoiceListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="invoicePrintState" column="invoice_print_state"/>
        <result property="bizType" column="biz_type"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceWebVO" id="selfHelpInvoiceWebVO">
        <result property="selfHelpInvoiceId" column="self_help_invoice_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="selfHelpInvoiceDetailId" column="self_help_invoice_detail_id"/>
        <result property="addressId" column="address_id"/>
        <result property="invoicePersonId" column="invoice_person_id"/>
        <result property="selfHelpInvoiceFeeId" column="self_help_invoice_fee_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="invoicePeopleName" column="invoice_people_name"/>
        <result property="idCardPic" column="id_card_pic"/>
        <result property="idCardPicBack" column="id_card_pic_back"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="invoiceState" column="invoice_state"/>
        <result property="invoiceDate" column="invoice_date"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoicePayVO" id="selfHelpInvoicePayVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="listFile" column="list_file"/>
        <result property="invoicePeopleType" column="invoice_people_type"/>
        <result property="chargeMoneyNum" column="total_pay_provider_fee"/>
        <result property="invoicePeopleName" column="invoice_people_name"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="deliverSheetUrl" column="deliver_sheet_url"/>
        <result property="accountBalanceUrl" column="account_balance_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="EnterpriseCrowdSourcingVOMap" type="com.lgyun.system.order.vo.SelfHelpInvoiceCrowdSourcingVO">
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="selfHelpInvoiceId" column="self_help_invoice_id"/>
        <result property="selfHelpInvoiceApplyId" column="self_help_invoice_apply_id"/>
        <result property="selfHelpInvoiceApplyProviderId" column="self_help_invoice_apply_provider_id"/>
        <result property="providerSelfHelpInvoiceId" column="provider_self_help_invoice_id"/>
        <result property="selfHelpInvoiceDetailId" column="self_help_invoice_detail_id"/>
        <result property="serviceProviderId" column="service_provider_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="ListFile" column="List_file"/>
        <result property="invoiceScanPictures" column="invoice_scan_pictures"/>
        <result property="taxScanPictures" column="tax_scan_pictures"/>
        <result property="updateDatetime" column="update_datetime"/>
        <result property="invoicePrintState" column="invoicePrintState"/>
        <result property="expressSheetNo" column="express_sheet_no"/>
        <result property="expressCompanyName" column="express_company_name"/>
    </resultMap>

    <select id="getSelfHelpInvoiceDetails" resultMap="selfHelpInvoiceDetailsVO">
        SELECT zs.id, rc.id as enterprise_id, a.id as address_id, sp.id as invoice_people_id, sd.id as self_help_invoice_detail_id,
        hf.id as hand_pay_id, rc.enterprise_name, rc.invoice_tax_no, rc.shop_user_name, rc.invoice_tel_no, rc.invoice_bank_name, rc.invoice_account_name, sd.charge_money_num,
        sd.invoice_type, sd.flow_contract_url, sd.business_contract_url,sd.deliver_sheet_url, a.address_name, a.address_phone, a.area, a.city, a.province,
        a.detailed_address, sp.id_card_name, sp.id_card_no, sp.phone_number,sp.id_card_pic, sp.id_card_pic_back, hf.give_price_date, hf.total_tax_fee, hf.basic_tax_fee,
        hf.basic_tax_fee_rate, hf.invoice_fee, hf.identify_fee FROM diyi_self_help_invoice zs INNER JOIN diyi_enterprise rc
        ON rc.id = zs.enterprise_id INNER JOIN diyi_self_help_invoice_detail sd ON sd.self_help_invoice_id = zs.id
        INNER JOIN diyi_address a ON a.id = zs.address_id INNER JOIN diyi_self_help_invoice_person sp ON sp.id = sd.none_maker_invoice_person_id
        INNER JOIN diyi_self_help_invoice_fee hf ON zs.id = hf.self_help_invoice_id where zs.is_deleted = 0 AND rc.is_deleted = 0 AND sd.is_deleted = 0
        AND a.is_deleted = 0 AND sp.is_deleted = 0 AND hf.is_deleted = 0 AND zs.id = #{selfHelpInvoiceId}
    </select>

    <select id="yearMonthMoney" resultMap="selfHelpInvoiceStatisticsVO">
        SELECT IFNULL(SUM(IF(MONTH(create_time) = MONTH(NOW()), charge_money_num, 0)), 0) AS month_money,
        IFNULL(SUM(IF(YEAR(create_time) = YEAR(NOW()), charge_money_num, 0)), 0) AS year_money
        FROM diyi_self_help_invoice_detail WHERE is_deleted = 0 AND invoice_print_state = 'INVOICESUCCESS'
        AND all_kind_enterprise_id = #{param1} AND invoice_people_type = #{param2}
    </select>

    <select id="selfHelpInvoiceStatistics" resultMap="selfHelpInvoiceStatisticsVO">
        SELECT COUNT(id) AS num, IFNULL(SUM(IF(DATEDIFF(NOW(), create_time) <![CDATA[ < ]]> 30, charge_money_num, 0)), 0) AS month_money,
        IFNULL(SUM(IF(DATEDIFF(NOW(), create_time) <![CDATA[ < ]]> 365, charge_money_num, 0)), 0) AS year_money,
        IFNULL(SUM(charge_money_num), 0) AS all_money FROM diyi_self_help_invoice_detail WHERE is_deleted = 0 AND invoice_print_state = 'INVOICESUCCESS'
        AND all_kind_enterprise_id = #{param1} AND invoice_people_type = #{param2}
    </select>

    <select id="selfHelpInvoiceList" resultMap="selfHelpInvoiceListVO">
        SELECT t1.id, t3.enterprise_name, t1.invoice_type, t1.invoice_print_state, t1.charge_money_num, t1.flow_contract_url,
        t1.business_contract_url, t1.create_time FROM diyi_self_help_invoice_detail t1 INNER JOIN diyi_self_help_invoice t2 ON t1.self_help_invoice_id = t2.id
        INNER JOIN diyi_enterprise t3 ON t2.enterprise_id = t3.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0
        AND t1.all_kind_enterprise_id = #{param1} AND t1.invoice_people_type = #{param2}
    </select>

    <select id="findMakerTypeSelfHelpInvoice" resultMap="selfHelpInvoiceWebVO">
        SELECT zs.id AS self_help_invoice_id, rc.id AS enterprise_id, sd.id AS self_help_invoice_detail_id, a.id AS address_id, sp.id AS invoice_person_id,
        hf.id AS self_help_invoice_fee_id, rc.enterprise_name, sd.invoice_type, sd.charge_money_num, sd.invoice_people_name, sp.id_card_pic, sp.id_card_pic_back,
        sd.flow_contract_url, sd.business_contract_url, zs.current_state, zs.confirm_price_datetime FROM diyi_self_help_invoice zs
        INNER JOIN diyi_enterprise rc ON rc.id = zs.enterprise_id
        INNER JOIN diyi_self_help_invoice_detail sd ON sd.self_help_invoice_id = zs.id
        INNER JOIN diyi_address a ON a.id = zs.address_id
        INNER JOIN diyi_self_help_invoice_person sp ON sp.id = sd.none_maker_invoice_person_id
        INNER JOIN diyi_self_help_invoice_fee hf ON zs.id = hf.self_help_invoice_id
        WHERE zs.is_deleted = 0 AND rc.is_deleted = 0 AND sd.is_deleted = 0 AND a.is_deleted = 0 AND sp.is_deleted = 0 AND hf.is_deleted = 0 AND
         zs.apply_enterprise_id = #{param1} and zs.invoice_people_type =#{param2}
        <if test="param3 != null and param3 != ''">
             and sd.invoice_people_name like concat('%', #{param3}, '%')
        </if>
        <if test="param4 != null and param4 != ''">
            and zs.create_time > #{param4}
        </if>
        <if test="param5 != null and param5 != ''">
            and zs.create_time &lt; #{param5}
        </if>
    </select>

    <select id="getSelfHelfInvoiceByEnterpriseId" resultMap="selfHelpInvoicePayVO">
        SELECT t1.id, t3.enterprise_name, t1.list_file, t1.invoice_people_type, t1.total_pay_provider_fee, t2.invoice_people_name, t2.flow_contract_url, t2.business_contract_url,
        t2.deliver_sheet_url, t2.account_balance_url, t1.create_time FROM diyi_self_help_invoice t1 INNER JOIN diyi_self_help_invoice_detail t2 ON t1.id = t2.self_help_invoice_id
        INNER JOIN diyi_enterprise t3 ON t1.enterprise_id = t3.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t1.enterprise_id = #{param1}
        <if test="param2.selfHelpInvoiceId != null">
            AND t1.id = #{param2.selfHelpInvoiceId}
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(t1.create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

    <select id="findEnterpriseCrowdSourcing" resultMap="EnterpriseCrowdSourcingVOMap">
        SELECT e.id AS enterprise_id, si.id AS self_help_invoice_id, sa.id AS self_help_invoice_apply_id, ss.id AS self_help_invoice_apply_provider_id,
        ssd.id AS provider_self_help_invoice_id, sd.id AS self_help_invoice_detail_id, sp.id AS service_provider_id, e.enterprise_name, sp.service_provider_name,
        si.List_file, ssd.invoice_scan_pictures, ssd.tax_scan_pictures, ssd.update_datetime, sd.invoice_print_state,si.express_sheet_no, si.express_company_name
        FROM diyi_self_help_invoice si INNER JOIN diyi_self_help_invoice_apply sa ON si.id = sa.self_help_invoice_id INNER JOIN diyi_self_help_invoice_detail sd
        ON sd.self_help_invoice_id = si.id INNER JOIN diyi_self_help_invoice_sp ss ON si.id = ss.self_help_invoice_id INNER JOIN diyi_self_help_invoice_sp_detail ssd
        ON ssd.self_help_invoice_apply_provider_id = ss.id INNER JOIN diyi_enterprise e ON e.id = si.enterprise_id INNER JOIN diyi_service_provider sp
        ON sp.id = ss.service_provider_id WHERE si.is_deleted = 0 AND sa.is_deleted = 0 AND sd.is_deleted = 0 AND ss.is_deleted = 0 AND ssd.is_deleted = 0
        AND e.is_deleted = 0 and e.id =#{param1}
        <if test="param2 != null and param2 != ''">
            AND sp.service_provider_name like concat('%', #{param2}, '%')
        </if>
    </select>


    <select id="findDetailCrowdSourcing" resultMap="EnterpriseCrowdSourcingVOMap">
        SELECT e.id AS enterprise_id, si.id AS self_help_invoice_id, sa.id AS self_help_invoice_apply_id, ss.id AS self_help_invoice_apply_provider_id,
        ssd.id AS provider_self_help_invoice_id, sd.id AS self_help_invoice_detail_id, sp.id AS service_provider_id, e.enterprise_name, sp.service_provider_name,
        si.List_file, ssd.invoice_scan_pictures, ssd.tax_scan_pictures, ssd.update_datetime, sd.invoice_print_state, si.express_sheet_no, si.express_company_name
        FROM diyi_self_help_invoice si INNER JOIN diyi_self_help_invoice_apply sa ON si.id = sa.self_help_invoice_id INNER JOIN diyi_self_help_invoice_detail sd
        ON sd.self_help_invoice_id = si.id INNER JOIN diyi_self_help_invoice_sp ss ON si.id = ss.self_help_invoice_id INNER JOIN diyi_self_help_invoice_sp_detail ssd
        ON ssd.self_help_invoice_apply_provider_id = ss.id INNER JOIN diyi_enterprise e ON e.id = si.enterprise_id INNER JOIN diyi_service_provider sp
        ON sp.id = ss.service_provider_id WHERE si.is_deleted = 0 AND sa.is_deleted = 0 AND sd.is_deleted = 0 AND ss.is_deleted = 0 AND ssd.is_deleted = 0
        AND e.is_deleted = 0 and si.id =#{param1}
    </select>

    <select id="findSelfHelpInvoiceByServiceProvider" resultMap="selfHelpInvoicePayVO">
        SELECT t1.id, t5.service_provider_name, t3.enterprise_name, t1.list_file, t1.invoice_people_type, t1.total_pay_provider_fee, t2.invoice_people_name, t2.flow_contract_url, t2.business_contract_url,
        t2.deliver_sheet_url, t2.account_balance_url, t1.current_state, t1.create_time FROM diyi_self_help_invoice t1 INNER JOIN diyi_self_help_invoice_detail t2
        ON t1.id = t2.self_help_invoice_id INNER JOIN diyi_enterprise t3 ON t1.enterprise_id = t3.id INNER JOIN diyi_self_help_invoice_sp t4 ON t1.id = t4.self_help_invoice_id
        INNER JOIN diyi_service_provider t5 ON t4.service_provider_id = t5.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0
        AND t5.is_deleted = 0
        <if test="param1 != null">
            AND t5.id = #{param1}
        </if>
        <if test="param2.selfHelpInvoiceId != null">
            AND t1.id = #{param2.selfHelpInvoiceId}
        </if>
        <if test="param2.serviceProviderName != null and param2.serviceProviderName != ''">
            AND t5.service_provider_name like concat('%', #{param2.serviceProviderName}, '%')
        </if>
        <if test="param2.enterpriseName != null and param2.enterpriseName != ''">
            AND t3.enterprise_name like concat('%', #{param2.enterpriseName}, '%')
        </if>
        <if test="param2.beginDate != null">
            AND DATEDIFF(t1.create_time, #{param2.beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="param2.endDate != null">
            AND DATEDIFF(t1.create_time, #{param2.endDate}) <![CDATA[ <= ]]> 0
        </if>
    </select>

</mapper>
