<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.SelfHelpInvoiceMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.order.entity.SelfHelpInvoiceEntity" id="selfHelpInvoiceMap">
        <result property="id" column="id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="payId" column="pay_id"/>
        <result property="applyMakerId" column="apply_maker_id"/>
        <result property="applyEnterpriseId" column="apply_enterprise_id"/>
        <result property="applyChannelId" column="apply_channel_id"/>
        <result property="applyPartnerId" column="apply_partner_id"/>
        <result property="applyManagementId" column="apply_management_id"/>
        <result property="originalSelfHelpId" column="original_self_help_id"/>
        <result property="businessEnterpriseId" column="business_enterprise_id"/>
        <result property="invoicePeopleType" column="invoice_people_type"/>
        <result property="invoiceState" column="invoice_state"/>
        <result property="invoiceDate" column="invoice_date"/>
        <result property="listFile" column="list_file"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="serviceRate" column="service_rate"/>
        <result property="serviceAndTaxMoney" column="service_and_tax_money"/>
        <result property="serviceFee" column="service_fee"/>
        <result property="serviceTax" column="service_tax"/>
        <result property="serviceInvoiceFee" column="service_invoice_fee"/>
        <result property="idendityConfirmFee" column="idendity_confirm_fee"/>
        <result property="addressId" column="address_id"/>
        <result property="invoiceAuditState" column="invoice_audit_state"/>
        <result property="expressSheetNo" column="express_sheet_no"/>
        <result property="expressCompanyName" column="express_company_name"/>
        <result property="expressUpdatePerson" column="express_update_person"/>
        <result property="expressUpdatePersonTel" column="express_update_person_tel"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="selfHelpInvoiceDetailsVO" type="com.lgyun.system.order.vo.SelfHelpInvoiceDetailsVO">
        <result property="id" column="id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="addressId" column="address_id"/>
        <result property="invoicePeopleId" column="invoice_people_id"/>
        <result property="selfHelpInvoiceDetailId" column="self_help_invoice_detail_id"/>
        <result property="handPayId" column="hand_pay_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="taxNo" column="tax_no"/>
        <result property="employeeName" column="employee_name"/>
        <result property="phoneNo" column="phone_no"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="deliverSheetUrl" column="deliver_sheet_url"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="addressName" column="address_name"/>
        <result property="addressPhone" column="address_phone"/>
        <result property="area" column="area"/>
        <result property="city" column="city"/>
        <result property="province" column="province"/>
        <result property="detailedAddress" column="detailed_address"/>
        <result property="idCardName" column="id_card_name"/>
        <result property="idCardNo" column="id_card_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="givePriceDate" column="give_price_date"/>
        <result property="totalTaxFee" column="total_tax_fee"/>
        <result property="basicTaxFee" column="basic_tax_fee"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceStatisticsVO" id="selfHelpInvoiceStatisticsVO">
        <result property="num" column="num"/>
        <result property="monthMoney" column="month_money"/>
        <result property="yearMoney" column="year_money"/>
        <result property="allMoney" column="all_money"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceListVO" id="selfHelpInvoiceListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="bizType" column="biz_type"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <resultMap type="com.lgyun.system.order.vo.SelfHelpInvoiceWebVO" id="selfHelpInvoiceWebVO">
        <result property="selfHelpInvoiceId" column="self_help_invoice_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="selfHelpInvoiceDetailId" column="self_help_invoice_detail_id"/>
        <result property="addressId" column="address_id"/>
        <result property="invoicePersonId" column="invoice_person_id"/>
        <result property="selfHelpInvoiceFeeId" column="self_help_invoice_fee_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="chargeMoneyNum" column="charge_money_num"/>
        <result property="invoicePeopleName" column="invoice_people_name"/>
        <result property="idCardPic" column="id_card_pic"/>
        <result property="idCardPicBack" column="id_card_pic_back"/>
        <result property="flowContractUrl" column="flow_contract_url"/>
        <result property="businessContractUrl" column="business_contract_url"/>
        <result property="invoiceState" column="invoice_state"/>
        <result property="invoiceDate" column="invoice_date"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.PayListVO" id="payListVO">
        <result property="id" column="id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="serviceProviderName" column="service_provider_name"/>
        <result property="chargeListUrl" column="charge_list_url"/>
        <result property="enterprisePayReceiptUrls" column="enterprise_pay_receipt_urls"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="acceptPaysheetUrls" column="accept_paysheet_urls"/>
        <result property="makerPayReceiptUrls" column="maker_pay_receipt_urls"/>
        <result property="createTime" column="create_time"/>
        <result property="payToPlatformAmount" column="pay_to_platform_amount"/>
    </resultMap>

    <select id="getSelfHelpInvoiceDetails" resultMap="selfHelpInvoiceDetailsVO">
        SELECT zs.id, rc.id as enterprise_id, a.id as address_id, sp.id as invoice_people_id, sd.id as self_help_invoice_detail_id,
        hf.id as hand_pay_id, rc.enterprise_name, rc.tax_no, rc.employee_name, rc.phone_no, rc.bank_name, rc.bank_account, sd.charge_money_num,
        sd.invoice_type, sd.flow_contract_url, sd.business_contract_url,sd.deliver_sheet_url, a.address_name, a.address_phone, a.area, a.city, a.province,
        a.detailed_address, sp.id_card_name, sp.id_card_no, sp.phone_number,sp.id_card_pic, sp.id_card_pic_back, hf.give_price_date, hf.total_tax_fee, hf.basic_tax_fee,
        hf.basic_tax_fee_rate, hf.invoice_fee, hf.identify_fee FROM diyi_self_help_invoice zs INNER JOIN diyi_enterprise rc
        ON rc.id = zs.enterprise_id INNER JOIN diyi_self_help_invoice_detail sd ON sd.self_help_invoice_id = zs.id
        INNER JOIN diyi_address a ON a.id = zs.address_id INNER JOIN diyi_self_help_invoice_person sp ON sp.id = sd.none_maker_invoice_person_id
        INNER JOIN diyi_self_help_invoice_fee hf ON zs.id = hf.self_help_invoice_id where zs.is_deleted = 0 AND rc.is_deleted = 0 AND sd.is_deleted = 0
        AND a.is_deleted = 0 AND sp.is_deleted = 0 AND hf.is_deleted = 0 AND zs.id = #{selfHelpInvoiceId}
    </select>

    <select id="yearMonthMoney" resultMap="selfHelpInvoiceStatisticsVO">
        SELECT IFNULL(SUM(IF(MONTH(create_time) = MONTH(NOW()), charge_money_num, 0)), 0) AS month_money,
        IFNULL(SUM(IF(YEAR(create_time) = YEAR(NOW()), charge_money_num, 0)), 0) AS year_money
        FROM diyi_self_help_invoice WHERE is_deleted = 0 AND invoice_audit_state = 'APPROVED'
        AND business_enterprise_id = #{param1} AND invoice_people_type = #{param2}
    </select>

    <select id="selfHelpInvoiceStatistics" resultMap="selfHelpInvoiceStatisticsVO">
        SELECT COUNT(id), IFNULL(SUM(IF(DATEDIFF(NOW(), create_time) <![CDATA[ < ]]> 30, charge_money_num, 0)), 0) AS month_money,
        IFNULL(SUM(IF(DATEDIFF(NOW(), create_time) <![CDATA[ < ]]> 365), charge_money_num, 0)), 0) AS year_money,
        IFNULL(SUM(charge_money_num), 0) AS all_money FROM diyi_self_help_invoice WHERE is_deleted = 0 AND invoice_audit_state = 'APPROVED'
        AND business_enterprise_id = #{param1} AND invoice_people_type = #{param2}
    </select>

    <select id="selfHelpInvoiceListEnterprise" resultMap="selfHelpInvoiceListVO">
        SELECT t1.id, t4.enterprise_name, t2.invoice_type, t3.biz_type, t1.charge_money_num, t2.flow_contract_url, t2.business_contract_url, t1.create_time
        FROM diyi_self_help_invoice t1 INNER JOIN diyi_self_help_invoice_detail t2 ON t1.id = t2.self_help_invoice_id
        INNER JOIN diyi_individual_enterprise t3 ON t1.business_enterprise_id = t3.id INNER JOIN diyi_enterprise t4 ON t1.enterprise_id = t4.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t1.invoice_people_type = 'INDIVIDUALENTERPRISE'
        AND t3.id = #{param1}
    </select>

    <select id="selfHelpInvoiceListBusiness" resultMap="selfHelpInvoiceListVO">
        SELECT t1.id, t4.enterprise_name, t2.invoice_type, t3.biz_type, t1.charge_money_num, t2.flow_contract_url, t2.business_contract_url, t1.create_time
        FROM diyi_self_help_invoice t1 INNER JOIN diyi_self_help_invoice_detail t2 ON t1.id = t2.self_help_invoice_id
        INNER JOIN diyi_individual_business t3 ON t1.business_enterprise_id = t3.id INNER JOIN diyi_enterprise t4 ON t1.enterprise_id = t4.id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0 AND t4.is_deleted = 0 AND t1.invoice_people_type = 'INDIVIDUALBUSINESS'
        AND t3.id = #{param1}
    </select>

    <select id="findMakerTypeSelfHelpInvoice" resultMap="selfHelpInvoiceWebVO">
        SELECT zs.id AS self_help_invoice_id, rc.id AS enterprise_id, sd.id AS self_help_invoice_detail_id, a.id AS address_id, sp.id AS invoice_person_id,
        hf.id AS self_help_invoice_fee_id, rc.enterprise_name, sd.invoice_type, sd.charge_money_num, sd.invoice_people_name, sp.id_card_pic, sp.id_card_pic_back,
        sd.flow_contract_url, sd.business_contract_url, zs.invoice_state,zs.invoice_date FROM diyi_self_help_invoice zs INNER JOIN diyi_enterprise rc
        ON rc.id = zs.enterprise_id INNER JOIN diyi_self_help_invoice_detail sd ON sd.self_help_invoice_id = zs.id INNER JOIN diyi_address a ON a.id = zs.address_id
        INNER JOIN diyi_self_help_invoice_person sp ON sp.id = sd.none_maker_invoice_person_id INNER JOIN diyi_self_help_invoice_fee hf
        ON zs.id = hf.self_help_invoice_id WHERE zs.is_deleted = 0 AND rc.is_deleted = 0 AND sd.is_deleted = 0 AND a.is_deleted = 0 AND sp.is_deleted = 0
        AND hf.is_deleted = 0 AND zs.apply_enterprise_id = #{param1} and zs.invoice_people_type =#{param2}
    </select>

    <select id="getByDtoEnterprise" resultMap="payListVO">

    </select>

</mapper>
