<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.WorksheetMakerMapper">

    <resultMap id="worksheetMakerDetailsVOMap" type="com.lgyun.system.order.vo.WorksheetMakerDetailsVO">
        <result property="worksheetMakerId" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bankCard_no"/>
        <result property="idcardVerifyStatus" column="idcard_verify_status"/>
        <result property="faceVerifyStatus" column="face_verify_status"/>
        <result property="bankCardVerifyStatus" column="bank_card_verify_status"/>
        <result property="phoneNumberVerifyStatus" column="phone_number_verify_status"/>
        <result property="videoAudit" column="video_audit"/>
        <result property="empowerSignState" column="empower_sign_state"/>
        <result property="joinSignState" column="join_sign_state"/>
        <result property="worksheetMakerState" column="worksheet_maker_state"/>
        <result property="achievementDesc" column="achievement_desc"/>
        <result property="achievementFiles" column="achievement_files"/>
        <result property="achievementDate" column="achievement_date"/>
        <result property="checkMoney" column="check_money"/>
    </resultMap>

    <resultMap id="worksheetMakerListVO" type="com.lgyun.system.order.vo.WorksheetMakerListVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="checkMoney" column="check_money"/>
    </resultMap>

    <select id="getWorksheetMakerDetails" resultMap="worksheetMakerDetailsVOMap">
        SELECT wm.id,m.name,m.idcard_no,m.phone_number,m.bank_card_no,m.idcard_verify_status,m.face_verify_status,m.bank_card_verify_status,
        m.phone_number_verify_status,m.video_audit,m.empower_sign_state,m.join_sign_state, wm.worksheet_maker_state, wm.achievement_desc,
        wm.achievement_files, wm.achievement_date, wm.check_money from diyi_worksheet_maker wm INNER JOIN diyi_maker m on m.id = wm.maker_id
        where m.is_deleted = 0 and wm.is_deleted =0 and wm.worksheet_id = #{param1}
    </select>

    <select id="getByWorksheetListNo" resultMap="worksheetMakerListVO">
        SELECT t3.id, t3.name, t3.idcard_no, t2.check_money FROM diyi_pay_enterprise t1 LEFT JOIN diyi_worksheet_maker t2 ON t1.worksheet_id = t2.worksheet_id
        AND t2.is_deleted = 0 LEFT JOIN diyi_maker t3 ON t2.maker_id = t3.id AND t3.is_deleted = 0 WHERE t1.is_deleted = 0 AND t1.id = #{param1}
    </select>

</mapper>
