<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.WorksheetMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.order.entity.WorksheetEntity" id="worksheetMap">
        <result property="id" column="id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="worksheetName" column="worksheet_name"/>
        <result property="uppersonNum" column="upPerson_num"/>
        <result property="workDays" column="work_days"/>
        <result property="worksheetFee" column="worksheet_fee"/>
        <result property="worksheetType" column="worksheet_type"/>
        <result property="worksheetMode" column="worksheet_mode"/>
        <result property="publishDate" column="publish_date"/>
        <result property="makerType" column="maker_type"/>
        <result property="worksheetState" column="worksheet_state"/>
        <result property="destroyDatetime" column="destroy_datetime"/>
        <result property="destroyPerson" column="destroy_person"/>
        <result property="destroyDesc" column="destroy_desc"/>
        <result property="closeWorksheetDate" column="close_worksheet_date"/>
        <result property="closeDesc" column="close_desc"/>
        <result property="closePerson" column="close_person"/>
        <result property="finishDate" column="finish_date"/>
        <result property="worksheetMemo" column="worksheet_memo"/>
        <result property="worksheetDescFiles" column="worksheet_desc_files"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="worksheetXiaoMap" type="com.lgyun.system.order.vo.WorksheetXiaoVo">
        <result property="worksheetId" column="worksheet_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="worksheetName" column="worksheet_name"/>
        <result property="worksheetMode" column="worksheet_mode"/>
        <result property="worksheetType" column="worksheet_type"/>
        <result property="upPersonNum" column="upPerson_num"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="workDays" column="work_days"/>
        <result property="worksheetFeeLow" column="worksheet_fee_low"/>
        <result property="worksheetFeeHigh" column="worksheet_fee_high"/>
        <result property="publishDate" column="publish_date"/>
    </resultMap>

    <resultMap id="worksheetXiao1Map" type="com.lgyun.system.order.vo.WorksheetXiaoVo">
        <result property="worksheetMakerId" column="worksheet_maker_id"/>
        <result property="worksheetMakerState" column="worksheet_maker_state"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="worksheetName" column="worksheet_name"/>
        <result property="worksheetMode" column="worksheet_mode"/>
        <result property="worksheetType" column="worksheet_type"/>
        <result property="upPersonNum" column="upPerson_num"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="workDays" column="work_days"/>
        <result property="worksheetFeeLow" column="worksheet_fee_low"/>
        <result property="worksheetFeeHigh" column="worksheet_fee_high"/>
        <result property="publishDate" column="publish_date"/>
    </resultMap>

    <resultMap id="worksheetDetailsMap" type="com.lgyun.system.order.vo.WorksheetXiaoVo">
        <result property="worksheetMakerId" column="worksheet_maker_id"/>
        <result property="worksheetMakerState" column="worksheet_maker_state"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="worksheetName" column="worksheet_name"/>
        <result property="worksheetMode" column="worksheet_mode"/>
        <result property="worksheetType" column="worksheet_type"/>
        <result property="upPersonNum" column="upPerson_num"/>
        <result property="worksheetNo" column="worksheet_no"/>
        <result property="workDays" column="work_days"/>
        <result property="worksheetFeeLow" column="worksheet_fee_low"/>
        <result property="worksheetFeeHigh" column="worksheet_fee_high"/>
        <result property="checkMoney" column="check_money"/>
        <result property="achievementDesc" column="achievement_desc"/>
        <result property="achievementFiles" column="achievement_files"/>
    </resultMap>

    <select id="findXiaoPage" resultMap="worksheetXiaoMap">
        SELECT ws.id AS worksheet_id, ws.enterprise_id, e.enterprise_name, ws.worksheet_mode, ws.worksheet_name, ws.worksheet_type, ws.upPerson_num,
        ws.worksheet_no, ws.work_days, ws.worksheet_fee_low, ws.worksheet_fee_high, ws.publish_date FROM diyi_worksheet ws INNER JOIN diyi_enterprise e
        ON e.id = ws.enterprise_id WHERE ws.is_deleted = 0 AND e.is_deleted = 0 AND ws.id NOT IN ( SELECT wm.worksheet_id FROM diyi_worksheet_maker wm
        WHERE wm.is_deleted = 0 AND wm.maker_id = #{param2} ) AND ws.worksheet_state = 'PUBLISHING' AND ws.worksheet_mode != 'DISPATCH'
    </select>

    <select id="findXiaoPage2" resultMap="worksheetXiaoMap">
        SELECT wm.id as worksheet_maker_id, wm.worksheet_maker_state, ws.id as worksheet_id, ws.enterprise_id, e.enterprise_name, ws.worksheet_name,
        ws.worksheet_type, ws.upPerson_num, ws.worksheet_no, ws.work_days, ws.worksheet_fee_low,ws.worksheet_fee_high, ws.publish_date
        FROM diyi_worksheet ws INNER JOIN diyi_enterprise e ON e.id = ws.enterprise_id INNER JOIN diyi_worksheet_maker wm ON wm.worksheet_id = ws.id
        WHERE ws.is_deleted = 0 AND e.is_deleted = 0 AND wm.is_deleted = 0 AND wm.worksheet_maker_state = 'SUBMITTED' and maker_id =#{param2}
    </select>

    <select id="findXiaoPage3" resultMap="worksheetXiao1Map">
        SELECT wm.id AS worksheet_maker_id, wm.worksheet_maker_state, ws.worksheet_mode, ws.id AS worksheet_id, ws.enterprise_id, e.enterprise_name,
        ws.worksheet_name, ws.worksheet_type, ws.upPerson_num, ws.worksheet_no, ws.work_days, ws.worksheet_fee_low, ws.worksheet_fee_high, ws.publish_date
        FROM diyi_worksheet ws INNER JOIN diyi_enterprise e ON e.id = ws.enterprise_id INNER JOIN diyi_worksheet_maker wm ON wm.worksheet_id = ws.id
        WHERE ws.is_deleted = 0 AND e.is_deleted = 0 AND wm.is_deleted = 0 AND wm.worksheet_maker_state IN ( 'VERIFIED', 'VALIDATION', 'FAILED' )
        AND maker_id = #{param2}
    </select>

    <select id="getWorksheetDetails" resultMap="worksheetDetailsMap">
        SELECT wm.id AS worksheet_maker_id, wm.worksheet_maker_state, ws.worksheet_mode, ws.id AS worksheet_id, ws.enterprise_id, e.enterprise_name, ws.worksheet_name,
        ws.worksheet_type, ws.upPerson_num, ws.worksheet_no, ws.work_days, ws.worksheet_fee_low, ws.worksheet_fee_high, ws.publish_date, wm.check_money,
        wm.achievement_desc, wm.achievement_files FROM diyi_worksheet ws INNER JOIN diyi_enterprise e ON e.id = ws.enterprise_id
        INNER JOIN diyi_worksheet_maker wm ON wm.worksheet_id = ws.id WHERE ws.is_deleted = 0 AND e.is_deleted = 0 AND wm.is_deleted = 0
         AND wm.id = #{param1}
    </select>

</mapper>
