<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgyun.system.order.mapper.WorksheetMakerMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lgyun.system.order.entity.WorksheetMakerEntity" id="worksheetMakerMap">
        <result property="id" column="id"/>
        <result property="makerId" column="maker_id"/>
        <result property="worksheetId" column="worksheet_id"/>
        <result property="makerName" column="maker_name"/>
        <result property="getType" column="get_type"/>
        <result property="getOrderDate" column="get_order_date"/>
        <result property="worksheetMakerState" column="worksheet_maker_state"/>
        <result property="achievementDesc" column="achievement_desc"/>
        <result property="achievementFiles" column="achievement_files"/>
        <result property="achievementDate" column="achievement_date"/>
        <result property="checkMoney" column="check_money"/>
        <result property="checkPerson" column="check_person"/>
        <result property="checkDate" column="check_date"/>
        <result property="arrangePerson" column="arrange_person"/>
        <result property="arrangeDate" column="arrange_date"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AllIncomeYearMonthVO" id="allIncomeYearMonthVO">
        <result property="num" column="num"/>
        <result property="income" column="income"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.IncomeYearVO" id="incomeYearVO">
        <result property="year" column="year"/>
        <result property="yearIncome" column="year_income"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.IncomeMonthVO" id="incomeMonthVO">
        <result property="janIncome" column="jan_income"/>
        <result property="febIncome" column="feb_income"/>
        <result property="marIncome" column="mar_income"/>
        <result property="aprIncome" column="apr_income"/>
        <result property="mayIncome" column="may_income"/>
        <result property="junIncome" column="jun_income"/>
        <result property="julIncome" column="jul_income"/>
        <result property="augIncome" column="aug_income"/>
        <result property="sepIncome" column="sep_income"/>
        <result property="octIncome" column="oct_income"/>
        <result property="novIncome" column="nov_income"/>
        <result property="decIncome" column="dec_income"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.AllIncomeYearMonthEnterpriseVO" id="allIncomeYearMonthEnterpriseVO">
        <result property="worksheetType" column="worksheet_type"/>
        <result property="makerType" column="maker_type"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="income" column="income"/>
    </resultMap>

    <resultMap type="com.lgyun.system.order.vo.IncomeDetailYearMonthVO" id="incomeDetailYearMonthVO">
        <result property="income" column="income"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="checkMoney" column="check_money"/>
        <result property="checkDate" column="check_date"/>
    </resultMap>


    <resultMap id="WorksheetMakerDetailsVOMap" type="com.lgyun.system.order.vo.WorksheetMakerDetailsVO">
        <result property="worksheetMakerId" column="id"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="bankCardNo" column="bankCard_no"/>
        <result property="idcardVerifyStatus" column="idcard_verify_status"/>
        <result property="faceVerifyStatus" column="face_verify_status"/>
        <result property="bankCardVerifyStatus" column="bank_card_verify_status"/>
        <result property="phoneNumberVerifyStatus" column="phone_number_verify_status"/>
        <result property="videoAudit" column="video_audit"/>
        <result property="empowerSignState" column="empower_sign_state"/>
        <result property="joinSignState" column="join_sign_state"/>
        <result property="worksheetMakerState" column="worksheet_maker_state"/>
        <result property="achievementDesc" column="achievement_desc"/>
        <result property="achievementFiles" column="achievement_files"/>
        <result property="achievementDate" column="achievement_date"/>
        <result property="checkMoney" column="check_money"/>
    </resultMap>

    <select id="getWorksheetCount" resultType="int">
        select count(*) as counts from diyi_worksheet_maker where worksheet_id=#{worksheetId} and is_deleted = 0
    </select>

    <select id="queryAllMoneyByYearMonth" resultMap="allIncomeYearMonthVO">
       SELECT COUNT(t2.id) AS num, IFNULL(SUM(t2.check_money), 0) AS income FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
       WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.worksheet_maker_state = 'VALIDATION' AND t1.worksheet_type = #{param1}
       AND t1.maker_type = #{param2} AND t2.maker_id = #{param3} AND YEAR(t2.check_date) = #{param4}
       <if test="param5 != null">
       AND MONTH(t2.check_date) = #{param5}
       </if>
    </select>

    <select id="queryMoneyByYear" resultMap="incomeYearVO">
        SELECT YEAR(t2.check_date) AS year, IFNULL(SUM(t2.check_money), 0) AS year_income
        FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
        WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t2.worksheet_maker_state = 'VALIDATION'
        AND t1.worksheet_type = #{param1} AND t1.maker_type = #{param2} AND t2.maker_id = #{param3} GROUP BY YEAR (t2.check_date)
    </select>

    <select id="queryMoneyByMonth" resultMap="incomeMonthVO">
        SELECT IFNULL(SUM(IF(MONTH(t2.check_date) = 1, t2.check_money, 0)), 0) AS jan_income, IFNULL(SUM(IF(MONTH(t2.check_date) = 2, t2.check_money, 0)), 0) AS feb_income,
        IFNULL(SUM(IF(MONTH(t2.check_date) = 3, t2.check_money, 0)), 0) AS mar_income, IFNULL(SUM(IF(MONTH(t2.check_date) = 4, t2.check_money, 0)), 0) AS apr_income,
        IFNULL(SUM(IF(MONTH(t2.check_date) = 5, t2.check_money, 0)), 0) AS may_income, IFNULL(SUM(IF(MONTH(t2.check_date) = 6, t2.check_money, 0)), 0) AS jun_income,
        IFNULL(SUM(IF(MONTH(t2.check_date) = 7, t2.check_money, 0)), 0) AS jul_income, IFNULL(SUM(IF(MONTH(t2.check_date) = 8, t2.check_money, 0)), 0) AS aug_income,
        IFNULL(SUM(IF(MONTH(t2.check_date) = 9, t2.check_money, 0)), 0) AS sep_income, IFNULL(SUM(IF(MONTH(t2.check_date) = 10, t2.check_money, 0)), 0) AS oct_income,
        IFNULL(SUM(IF(MONTH(t2.check_date) = 11, t2.check_money, 0)), 0) AS nov_income, IFNULL(SUM(IF(MONTH(t2.check_date) = 12, t2.check_money, 0)), 0) AS dec_income
        FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0
        AND t2.worksheet_maker_state = 'VALIDATION' AND t1.worksheet_type = #{param1} AND t1.maker_type = #{param2} AND t2.maker_id = #{param3}
        AND YEAR(t2.check_date) = #{param4}
    </select>

    <select id="queryAllMoneyByYearMonthEnterprise" resultMap="allIncomeYearMonthEnterpriseVO">
        SELECT t1.worksheet_type, t1.maker_type, t1.enterprise_id, t3.enterprise_name, IFNULL(SUM(t2.check_money), 0) AS income FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2
        ON t1.id = t2.worksheet_id INNER JOIN diyi_enterprise t3 ON t1.enterprise_id = t3.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0
        AND t2.worksheet_maker_state = 'VALIDATION' AND t1.worksheet_type = #{param1} AND t1.maker_type = #{param2} AND t2.maker_id = #{param3}
        AND YEAR(t2.check_date) = #{param4}
        <if test="param5 != null">
            AND MONTH(t2.check_date) = #{param5}
        </if>
        GROUP BY t1.enterprise_id ORDER BY income DESC
    </select>

    <select id="queryMoneyDetailByYearMonth" resultMap="incomeDetailYearMonthVO">
        SELECT t3.enterprise_name, t2.check_money, t2.check_date FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
        INNER JOIN diyi_enterprise t3 ON t1.enterprise_id = t3.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0
        AND t2.worksheet_maker_state = 'VALIDATION' AND t1.worksheet_type = #{param1} AND t1.maker_type = #{param2} AND t2.maker_id = #{param3}
        AND YEAR(t2.check_date) = #{param4} AND MONTH(t2.check_date) = #{param5}
        <if test="param6 != null">
        AND t1.enterprise_id = #{param6}
        </if>
        ORDER BY t2.check_date DESC
    </select>

    <select id="queryAllMoneyDetailByYearMonth" resultType="BigDecimal">
        SELECT SUM(t2.check_money) AS all_income FROM diyi_worksheet t1 INNER JOIN diyi_worksheet_maker t2 ON t1.id = t2.worksheet_id
        INNER JOIN diyi_enterprise t3 ON t1.enterprise_id = t3.id WHERE t1.is_deleted = 0 AND t2.is_deleted = 0 AND t3.is_deleted = 0
        AND t2.worksheet_maker_state = 'VALIDATION' AND t1.worksheet_type = #{param1} AND t1.maker_type = #{param2} AND t2.maker_id = #{param3}
        AND YEAR(t2.check_date) = #{param4} AND MONTH(t2.check_date) = #{param5}
        <if test="param6 != null">
            AND t1.enterprise_id = #{param6}
        </if>
    </select>

    <select id="getWorksheetMakerDetails" resultMap="WorksheetMakerDetailsVOMap">
        SELECT wm.id,m.name,m.idcard_no,m.phone_number,m.bank_card_no,m.idcard_verify_status,m.face_verify_status,m.bank_card_verify_status,m.phone_number_verify_status,m.video_audit,m.empower_sign_state,m.join_sign_state, wm.worksheet_maker_state, wm.achievement_desc, wm.achievement_files, wm.achievement_date, wm.check_money from diyi_worksheet_maker wm INNER JOIN diyi_maker m on m.id = wm.maker_id where m.is_deleted = 0 and wm.is_deleted =0 and wm.worksheet_id =#{param1}
    </select>


</mapper>
